<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>GeoServer</string>
	<key>CFBundleExecutable</key>
	<string>geoserver</string>
	<key>CFBundleIdentifier</key>
	<string>org.geoserver</string>
	<key>CFBundleVersion</key>
	<string>2.4.7</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>Open Source Server for Geospatial Data</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GeoServer.icns</string>
	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>VMOptions</key>
		<string>-DGEOSERVER_DATA_DIR=data_dir -DSTOP.PORT=8079 -DSTOP.KEY=geoserver -Xms128m -Xmx512m -XX:MaxPermSize=128m</string>
		<key>MainClass</key>
		<string>org.geoserver.console.Main</string>
		<key>JVMVersion</key>
		<string>1.5*</string>
		<key>ClassPath</key>
                <array>
			<string>$JAVAROOT/console.jar</string>
			<string>$JAVAROOT/start.jar</string>
                        <string>$JAVAROOT/lib/log4j-1.2.14.jar</string>
			<string>$JAVAROOT/resources</string>
                </array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
