<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (c) 2014 Open Source Geospatial Foundation - all rights reserved
 (c) 2001 - 2013 OpenPlans
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

   <bean id="pythonDispatcherMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true"/>
    <property name="mappings">
        <props>
            <prop key="/python">restWrapper</prop>
            <prop key="/python/**">restWrapper</prop>
        </props>
    </property>
  </bean>
    
  <bean id="python" class="org.geoserver.python.Python">
    <constructor-arg ref="resourceLoader"/>
  </bean>

  <bean id="pythonDataStoreFactoryProducer" 
        class="org.geoserver.python.datastore.PythonDataStoreFactoryProducer">
     <constructor-arg ref="python"/>
  </bean>
  
  <bean id="pythonGetFeatureOutputFormatProvider"
      class="org.geoserver.python.format.PythonGetFeatureOutputFormatProvider">
     <constructor-arg ref="python"/>
  </bean>
  
  <bean id="pythonVectorGetMapOutputFormatProvider"
      class="org.geoserver.python.format.PythonVectorGetMapOutputFormatProvider">
     <constructor-arg ref="python"/>
  </bean>
  
  <bean id="pythonMapGetMapOutputFormatProvider"
      class="org.geoserver.python.format.PythonMapGetMapOutputFormatProvider">
     <constructor-arg ref="python"/>
  </bean>
  
  <bean id="pythonGetMapResponseProvider"
      class="org.geoserver.python.format.PythonGetMapResponseProvider">
     <constructor-arg ref="python"/>
  </bean>
  
  <bean id="pythonGetFeatureInfoOutputFormatProvider"
      class="org.geoserver.python.format.PythonGetFeatureInfoOutputFormatProvider">
     <constructor-arg ref="python"/>
  </bean>

  <bean id="restConfigMapping" class="org.geoserver.rest.RESTMapping">
    <property name="routes">
      <map>
        <entry>
          <key><value>/app/{app}.py</value></key>
          <value>pythonAppFinder</value>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="pythonFinder" class="org.geoserver.python.app.PythonFinder">
    <constructor-arg ref="python"/>
    <constructor-arg ref="resourceLoader"/>
  </bean>
  <bean id="pythonAppFinder" class="org.geoserver.python.app.PythonAppFinder">
    <constructor-arg ref="python"/>
    <constructor-arg ref="resourceLoader"/>
  </bean>
  
   <bean id="pythonConsole" class="org.geoserver.web.DemoLinkInfo">
        <property name="id" value="pythonConsole"/>
        <property name="titleKey" value="PythonConsolePage.title"/>
        <property name="descriptionKey" value="PythonConsolePage.description"/>
        <property name="componentClass" value="org.geoserver.python.web.PythonConsolePage"/>
   </bean>
    
</beans>
