<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName">

	<bean id="notificationInitializer" class="org.geoserver.notification.NotifierInitializer">
		<constructor-arg ref="resourceLoader" />
	</bean>

	<bean id="notificationCatalogListener" class="org.geoserver.notification.NotificationCatalogListener">
	</bean>

	<bean id="notificationTransactionListener"
		class="org.geoserver.notification.NotificationTransactionListener">
		<constructor-arg ref="catalog" />
	</bean>

	<bean id="notificationXStreamInitializer"
		class="org.geoserver.notification.common.NotificationXStreamDefaultInitializer">
	</bean>

</beans>
