<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName">

	<bean id="rabbitMQFanoutSender"
		class="org.geoserver.notification.common.SenderXStreamInitializer">
		<constructor-arg value="fanoutSender"></constructor-arg>
		<constructor-arg value="org.geoserver.notification.common.sender.FanoutRabbitMQSender"></constructor-arg>
	</bean>

	<bean id="rabbitMQTopicSender"
		class="org.geoserver.notification.common.SenderXStreamInitializer">
		<constructor-arg value="topicSender"></constructor-arg>
		<constructor-arg value="org.geoserver.notification.common.sender.TopicRabbitMQSender"></constructor-arg>
	</bean>

</beans>
