<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <import resource="geowebcache-geoserver-context.xml" />
  <import resource="geowebcache-servlet.xml" />

  <bean id="cachingWebMapService" class="org.geoserver.gwc.wms.CachingWebMapService">
    <description>
      org.geoserver.wms.WebMapService.getMap() method interceptor to
      check whether the requested map
      corresponds to a cached or cacheable tile and if so return the GWC version of the image.
    </description>
    <constructor-arg ref="gwcFacade" />
  </bean>

  <bean id="wmsServiceInterceptor_CachingWMS" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
    <description>
      Before advise to engage on the WMS service getMap method invocation.
      The bean name follows the WMS
      module convention of starting with "wmsServiceInterceptor" to be automatically engaged
    </description>
    <property name="advice">
      <ref bean="cachingWebMapService" />
    </property>
    <property name="mappedName">
      <value>getMap</value>
    </property>
  </bean>

</beans>
