<?xml version="1.0" encoding="UTF-8"?>
<!--
(c) 2016 Open Source Geospatial Foundation - all rights reserved
This code is licensed under the GPL 2.0 license, available at the root
application directory.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="paramsExtractorFilter" class="org.geoserver.params.extractor.Filter">
        <constructor-arg ref="dataDirectory"/>
    </bean>
    <bean id="paramsExtractorConfigPage" class="org.geoserver.web.MenuPageInfo">
        <property name="id" value="paramsExtractorConfigPage"/>
        <property name="titleKey" value="ParamsExtractorConfigPage.page.title"/>
        <property name="descriptionKey" value="ParamsExtractorConfigPage.page.description"/>
        <property name="componentClass" value="org.geoserver.params.extractor.web.ParamsExtractorConfigPage"/>
        <property name="category" ref="settingsCategory" />
        <property name="order" value="100" />
        <property name="icon" value="img/direction-pencil.png" />
    </bean>
    <bean id="paramsExtractorUrlMangler" class="org.geoserver.params.extractor.UrlMangler">
        <constructor-arg ref="dataDirectory"/>
    </bean>

    <!-- rest controllers integration -->
    <context:component-scan base-package="org.geoserver.params.extractor.rest" />
</beans>