build-full.bat
target
.settings
.classpath
.project
.metadata
.DS_Store
*.class
*.pyc

/.metadata/

# Intellij
.idea/
*.iml

# Cucumber Testing artifacts
cucumber-report
.mvn

# staging release artifacts
distribution/

# NSG CITE testst data directory
data/citensg-1.0/gwc/cite*
data/citensg-1.0/gwc/geowebcache_*.bak
data/citensg-1.0/legendsamples/
data/citensg-1.0/logs/geoserver.log
