
 <!--
 Copyright (C) 2014 - 2016 Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="wmsGetFeatureInfoGML2" class="org.geoserver.wms.featureinfo.GML2FeatureInfoOutputFormat">
      <constructor-arg ref="wms" />
    </bean>

    <bean id="wmsGetFeatureInfoXML2" class="org.geoserver.wms.featureinfo.XML2FeatureInfoOutputFormat">
      <constructor-arg ref="wms" />
    </bean>
    
    <bean id="wmsGetFeatureInfoGML3" class="org.geoserver.wms.featureinfo.GML3FeatureInfoOutputFormat">
      <constructor-arg ref="gml3OutputFormat" />
    </bean>

    <bean id="wmsGetFeatureInfoXML311" class="org.geoserver.wms.featureinfo.XML311FeatureInfoOutputFormat">
      <constructor-arg ref="gml3OutputFormat" />
    </bean>

    <bean id="wmsFilterKvpParser" class="org.geoserver.wms.kvp.FilterKvpParser">
        <constructor-arg ref="entityResolverProvider"/>
        <property name="service"><value>WMS</value></property>
    </bean>

</beans>
