<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 OpenPlans - www.openplans.org. All rights reserved.
This code is licensed under the GPL 2.0 license, available at the root application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="esXStreamInitializer" class="mil.nga.giat.elasticsearch.ElasticXStreamInitializer" />
	
	<bean id="esFeatureTypeCallback" class="mil.nga.giat.elasticsearch.ElasticFeatureTypeCallback" />

	<bean id="esConfigPanel" class="mil.nga.giat.elasticsearch.ElasticConfigurationPanelInfo">
		<property name="id" value="elastic" />
		<property name="titleKey" value="data.resource.config.elasticsearch" />
		<property name="componentClass" value="mil.nga.giat.elasticsearch.ElasticConfigurationPanel" />
		<property name="supportedTypes">
			<list>
				<value>Elasticsearch</value>
			</list>
		</property>
	</bean>

</beans>
