<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- wfs service -->
  <bean id="wfsvServiceTarget"
    class="org.geoserver.wfsv.DefaultVersioningWebFeatureService">
    <constructor-arg ref="geoServer" />
    <property name="filterFactory" ref="filterFactory" />
  </bean>

  <bean id="wfsvService"
    class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>org.geoserver.wfsv.VersionedWebFeatureService</value>
    </property>
    <property name="interceptorNames">
      <list>
        <value>wfsLogger</value>
        <value>wfsvServiceTarget</value>
      </list>
    </property>
  </bean>

  <!-- service descriptors -->
  <bean id="wfsvService-1.0.0" class="org.geoserver.platform.Service">
    <constructor-arg index="0" value="wfsv" />
    <constructor-arg index="1" ref="wfsvService" />
    <constructor-arg index="2" value="1.0.0" />
    <constructor-arg index="3">
      <list>
        <value>GetCapabilities</value>
        <value>DescribeFeatureType</value>
        <value>GetFeature</value>
        <value>GetFeatureWithLock</value>
        <value>LockFeature</value>
        <value>Transaction</value>
        <value>GetVersionedFeature</value>
        <value>GetLog</value>
        <value>GetDiff</value>
        <value>DescribeVersionedFeatureType</value>
      </list>
    </constructor-arg>
  </bean>

  <bean id="wfsvService-1.1.0" class="org.geoserver.platform.Service">
    <constructor-arg index="0" value="wfsv" />
    <constructor-arg index="1" ref="wfsvService" />
    <constructor-arg index="2" value="1.1.0" />
    <constructor-arg index="3">
      <list>
        <value>GetCapabilities</value>
        <value>DescribeFeatureType</value>
        <value>GetFeature</value>
        <value>GetFeatureWithLock</value>
        <value>GetGmlObject</value>
        <value>LockFeature</value>
        <value>Transaction</value>
        <value>GetVersionedFeature</value>
        <value>GetLog</value>
        <value>GetDiff</value>
        <value>DescribeVersionedFeatureType</value>
      </list>
    </constructor-arg>
    
  </bean>

  <!-- service exception handler -->
  <bean id="wfsvExceptionHandler"
    class="org.geoserver.wfs.response.WfsExceptionHandler">
    <constructor-arg>
      <list>
        <ref bean="wfsvService-1.0.0" />
        <ref bean="wfsvService-1.1.0" />
      </list>
    </constructor-arg>
    <constructor-arg ref="geoServer" />
  </bean>

  <!-- http url mapping -->
  <bean id="wfsvURLMapping"
    class="org.geoserver.ows.OWSHandlerMapping">
    <constructor-arg ref="catalog"/>
    <property name="alwaysUseFullPath" value="true"/>    
    <property name="interceptors">
      <list>
        <ref bean="citeComplianceHack" />
      </list>
    </property>

    <property name="mappings">
      <props>
        <prop key="/wfsv">dispatcher</prop>
        <prop key="/wfsv/*">dispatcher</prop>
      </props>
    </property>
  </bean>


  <!-- xml configuration --> 
  <bean id="wfsvXsd-1.1" class="org.geoserver.wfsv.xml.v1_1_0.WFSV">
    <constructor-arg ref="wfsXsd-1.1"/>
  </bean>
  
  <bean id="wfsvXsd-1.0" class="org.geoserver.wfsv.xml.v1_0_0.WFSV">
    <constructor-arg ref="wfsXsd-1.0"/>
  </bean>
  
  <bean id="wfsvXmlConfiguration-1.1"
    class="org.geoserver.wfsv.xml.v1_1_0.WFSVConfiguration">
    <constructor-arg ref="wfsXmlConfiguration-1.1" />
    <constructor-arg ref="wfsvXsd-1.1"/>
    <constructor-arg ref="catalog"/>
  </bean>
  
  <bean id="wfsvXmlConfiguration-1.0"
    class="org.geoserver.wfsv.xml.v1_0_0.WFSVConfiguration">
    <constructor-arg ref="wfsXmlConfiguration-1.0" />
    <constructor-arg ref="wfsvXsd-1.0"/>
    <constructor-arg ref="catalog"/>
  </bean>
  
  <!-- Transaction element handlers -->
    <bean id="wfsRollbackElementHandler" class="org.geoserver.wfsv.RollbackElementHandler">
      <constructor-arg ref="geoServer"/>
      <constructor-arg ref="filterFactory"/>
    </bean>
    
  <!-- kvp parsers -->
  <bean id="wfsvVersioned" class="org.geoserver.ows.kvp.BooleanKvpParser">
    <constructor-arg value="versioned"/>
  </bean>
    
  <!-- kvp request readers -->
  <bean id="describeVersionedFeatureTypeKvpReader" 
        class="org.geoserver.wfsv.kvp.DescribeVersionedFeatureTypeKvpRequestReader"/>
        
  <bean id="getVersionedFeatureKvpRequestReader" 
        class="org.geoserver.wfsv.kvp.GetVersionedFeatureRequestReader">
    <constructor-arg ref="catalog"/>
    <constructor-arg ref="filterFactory"/>
  </bean>
  
  <!-- 1.1 wfsv xml readers -->
  <bean id="wfsv-xmlReader-1.1.0" class="org.geoserver.wfsv.xml.v1_1_0.WfsvXmlReader" abstract="true">
    <constructor-arg ref="geoServer"/>
    <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
  </bean>
  <bean id="wfsvDescribeFeatureTypeXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="DescribeVersionedFeatureType"/>
  </bean>
  <bean id="wfsvGetVersionedFeatureXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="GetVersionedFeature"/>
  </bean>
  <bean id="wfsvGetLogXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="GetLog"/>
  </bean>
  <bean id="wfsvGetDiffXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="GetDiff"/>
  </bean>
  <bean id="wfsvRollbackXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="Rollback"/>
  </bean>
  <bean id="wfsvVersionedUpdateXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="VersionedUpdateElement"/>
  </bean>
  <bean id="wfsvDeleteElementXmlReader-1.1.0" parent="wfsv-xmlReader-1.1.0">
    <constructor-arg value="VersionedDeleteElement"/>
  </bean>
  <!-- 1.1 wfs readers handling extended elements -->
  <bean id="wfs-x-xmlReader-1.1.0" class="org.geoserver.wfsv.xml.v1_1_0.WfsXmlReader" abstract="true">
    <constructor-arg ref="geoServer"/>
    <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
  </bean>
  <bean id="wfs-x-TransactionXmlReader-1.1.0" parent="wfs-x-xmlReader-1.1.0">
    <constructor-arg value="Transaction"/>
  </bean>
  
  <!-- 1.0 wfsv xml readers -->
  <bean id="wfsv-xmlReader-1.0.0" class="org.geoserver.wfsv.xml.v1_0_0.WfsvXmlReader" abstract="true">
    <constructor-arg ref="wfsvXmlConfiguration-1.0"/>
    <constructor-arg ref="geoServer"/>
  </bean>
  <bean id="wfsvDescribeFeatureTypeXmlReader-1.0.0" parent="wfsv-xmlReader-1.0.0">
    <constructor-arg value="DescribeVersionedFeatureType"/>
  </bean>
  <bean id="wfsvGetVersionedFeatureXmlReader-1.0.0" parent="wfsv-xmlReader-1.0.0">
    <constructor-arg value="GetVersionedFeature"/>
  </bean>
  <bean id="wfsvGetLogXmlReader-1.0.0" parent="wfsv-xmlReader-1.0.0">
    <constructor-arg value="GetLog"/>
  </bean>
  <bean id="wfsvGetDiffXmlReader-1.0.0" parent="wfsv-xmlReader-1.0.0">
    <constructor-arg value="GetDiff"/>
  </bean>
  <bean id="wfsvRollbackXmlReader-1.0.0" parent="wfsv-xmlReader-1.0.0">
    <constructor-arg value="Rollback"/>
  </bean>
  <bean id="wfsvVersionedUpdateXmlReader-1.0.0" parent="wfsv-xmlReader-1.0.0">
    <constructor-arg value="VersionedUpdateElement"/>
  </bean>
  <bean id="wfsvDeleteElementXmlReader-1.0.0" parent="wfsv-xmlReader-1.0.0">
    <constructor-arg value="VersionedDeleteElement"/>
  </bean>
  
  <!-- 1.0 wfs readers handling extended elements -->
  <bean id="wfs-x-xmlReader-1.0.0" class="org.geoserver.wfsv.xml.v1_0_0.WfsXmlReader" abstract="true">
    <constructor-arg ref="catalog"/>
    <constructor-arg ref="wfsvXmlConfiguration-1.0"/>
  </bean>
  <bean id="wfs-x-TransactionXmlReader-1.0.0" parent="wfs-x-xmlReader-1.0.0">
    <constructor-arg value="Transaction"/>
  </bean>
  
  <!-- Encoders / Output formats -->
  <bean id="gml3VersionedFeatureTypeEncoder" class="org.geoserver.wfsv.response.v1_1_0.VersionedXmlSchemaEncoder">
        <constructor-arg ref="geoServer"/>
        <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
  </bean>
  <bean id="gml2VersionedFeatureTypeEncoder" class="org.geoserver.wfsv.response.v1_0_0.VersionedXmlSchemaEncoder">
        <constructor-arg ref="gml2FeatureTypeEncoder"/>
  </bean>
  <bean id="gml2VersionedOutputFormat" 
      class="org.geoserver.wfsv.response.v1_0_0.VersionedGML2OutputFormat" singleton="false">
      <constructor-arg ref="geoServer"/>
  </bean>
  <bean id="transaction110OutputFormat" class="org.geoserver.wfsv.response.v1_1_0.TransactionOutputFormat">
    <constructor-arg ref="geoServer"/>
    <constructor-arg ref="xmlConfiguration-1.1"/>
    <constructor-arg ref="filterFactory"/>
  </bean>
  <bean id="transaction100OutputFormat" class="org.geoserver.wfsv.response.v1_0_0.TransactionOutputFormat">
    <constructor-arg ref="geoServer"/>
    <constructor-arg ref="xmlConfiguration-1.0"/>
    <constructor-arg ref="filterFactory"/>
  </bean>
  <bean id="versionedGml3OutputFormat" class="org.geoserver.wfsv.response.v1_1_0.VersionedGML3OutputFormat"> 
        <constructor-arg ref="geoServer"/>
        <constructor-arg ref="wfsvXmlConfiguration-1.1"/>
    </bean>
  <bean id="getLogGml3OutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetLogGML3OutputFormat">
    <constructor-arg ref="geoServer"/>
    <constructor-arg ref="xmlConfiguration-1.1"/>
  </bean>
  <bean id="getLogGml2OutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetLogGML2OutputFormat">
    <constructor-arg ref="geoServer"/>
  </bean>
  <bean id="getLogJSONOutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetLogJSONOutputFormat">
  	<constructor-arg ref="geoServer"/>
  </bean>
  <bean id="getLogHtmlOutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetLogHtmlOutputFormat">
  </bean>
  <bean id="getDiffHtmlOutputFormat" class="org.geoserver.wfsv.response.v1_1_0.GetDiffHtmlOutputFormat">
  </bean>
  
  <!--  security wrapper factories -->
  <bean id="versionedSecureDataFactory" class="org.geoserver.wfsv.security.VersionedSecureDataFactory"/>

</beans>