<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    

    <!-- kvp parsers -->
    <bean id="layersKvpParser" class="org.geoserver.wfs.response.LayersKvpParser">
        <constructor-arg index="0" value="layers"/>
        <constructor-arg index="1" value="java.lang.String"/>
        <property name="request" value="FakeRequest"/>
        <property name="service" value="FakeService"/>
    </bean>
    
</beans>
