<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- GetFeature HTML -->
    <bean id="HtmlGetFeatureOutputFormat" class="org.geoserver.wfsfreemarker.html.HTMLGetFeatureOutputFormat">
        <constructor-arg ref="geoServer"/>
    </bean>

</beans>
