<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="templateTabPanelInfo" class="org.geoserver.featurestemplating.web.FeatureTypeTabPanelInfo">
        <property name="id" value="templateTabPanelInfo" />
        <property name="titleKey" value="TemplateTabPanelInfo.title" />
        <property name="descriptionKey" value="TemplateTabPanelInfo.shortDescription" />
        <property name="componentClass"
                  value="org.geoserver.featurestemplating.web.TemplateRulesTabPanel" />
        <property name="order" value="999" />
    </bean>

    <bean id="templateConfPage" class="org.geoserver.web.MenuPageInfo">
        <property name="id" value="templateConfPage"/>
        <property name="titleKey" value="TemplateInfoPage.title"/>
        <property name="descriptionKey" value="TemplateInfoPage.description"/>
        <property name="componentClass" value="org.geoserver.featurestemplating.web.TemplateInfoPage"/>
        <property name="category" ref="dataCategory" />
        <property name="order" value="100" />
        <property name="icon" value="img/templateIcon.png" />
    </bean>

    <bean id="schemaTabPanelInfo" class="org.geoserver.featurestemplating.web.schema.SchemaTypeTabPanelInfo">
        <property name="id" value="schemaTabPanelInfo" />
        <property name="titleKey" value="SchemaTabPanelInfo.title" />
        <property name="descriptionKey" value="SchemaTabPanelInfo.shortDescription" />
        <property name="componentClass"
                  value="org.geoserver.featurestemplating.web.schema.SchemaRulesTabPanel" />
        <property name="order" value="999" />
    </bean>

    <bean id="schemaConfPage" class="org.geoserver.web.MenuPageInfo">
        <property name="id" value="schemaConfPage"/>
        <property name="titleKey" value="SchemaInfoPage.title"/>
        <property name="descriptionKey" value="SchemaInfoPage.description"/>
        <property name="componentClass" value="org.geoserver.featurestemplating.web.schema.SchemaInfoPage"/>
        <property name="category" ref="dataCategory" />
        <property name="order" value="101" />
        <property name="icon" value="img/templateIcon.png" />
    </bean>

</beans>