<gmx.iderc.geoserver.tjs.catalog.impl.TJSCatalogImpl>
    <frameworks>
        <entry>
            <string>Provincias</string>
            <gmx.iderc.geoserver.tjs.catalog.impl.FrameworkInfoImpl>
                <id>FrameworkInfoImpl-57bbc947:13992450e6d:-8000</id>
                <name>Provincias</name>
                <description>Framework Espacial para TJS basado en la capa ProvinciasCuba</description>
                <enabled>false</enabled>
                <featureTypeId>FeatureTypeInfoImpl-39310220:13954a46f64:-7ffb</featureTypeId>
                <uri>http://www.openplans.org/topp/Provincias</uri>
                <referenceDate>2012-09-04 00:00:00.0 CDT</referenceDate>
                <version>1</version>
                <documentation>http://www.iderc.co.cu/provincias</documentation>
                <frameworkKey>ID</frameworkKey>
                <frameworkKeyTitle>PROVINCIA</frameworkKeyTitle>
                <wmsLayerId></wmsLayerId>
            </gmx.iderc.geoserver.tjs.catalog.impl.FrameworkInfoImpl>
        </entry>
        <entry>
            <string>DatosSE</string>
            <gmx.iderc.geoserver.tjs.catalog.impl.FrameworkInfoImpl>
                <id>FrameworkInfoImpl--1ec3c379:13992798771:-8000</id>
                <name>DatosSE</name>
                <description>Datos SE</description>
                <enabled>false</enabled>
                <featureTypeId>FeatureTypeInfoImpl--4ab5a0f:13949ccefca:-7ffe</featureTypeId>
                <uri>http://www.openplans.org/topp/DatosSE</uri>
                <referenceDate>2012-09-04 00:00:00.0 CDT</referenceDate>
                <version>0</version>
                <frameworkKey>id</frameworkKey>
                <frameworkKeyTitle>POIName</frameworkKeyTitle>
                <wmsLayerId></wmsLayerId>
            </gmx.iderc.geoserver.tjs.catalog.impl.FrameworkInfoImpl>
        </entry>
    </frameworks>
    <dataStores>
        <entry>
            <string>tocororo</string>
            <gmx.iderc.geoserver.tjs.catalog.impl.DataStoreInfoImpl>
                <id>DataStoreInfoImpl-40cce177:1399704da19:-7fff</id>
                <name>tocororo</name>
                <enabled>true</enabled>
                <type>PostgreSQL</type>
                <connectionParameters>
                    <entry>
                        <string>port</string>
                        <int>5432</int>
                    </entry>
                    <entry>
                        <string>passwd</string>
                        <string>pgadmin</string>
                    </entry>
                    <entry>
                        <string>Data Source Name</string>
                        <string>hermeslm.municipioscuba_12072011_045523</string>
                    </entry>
                    <entry>
                        <string>host</string>
                        <string>192.168.56.1</string>
                    </entry>
                    <entry>
                        <string>user</string>
                        <string>postgres</string>
                    </entry>
                    <entry>
                        <string>database</string>
                        <string>tocororo</string>
                    </entry>
                </connectionParameters>
                <metadata>
                    <map/>
                </metadata>
            </gmx.iderc.geoserver.tjs.catalog.impl.DataStoreInfoImpl>
        </entry>
        <entry>
            <string>tjs</string>
            <gmx.iderc.geoserver.tjs.catalog.impl.DataStoreInfoImpl>
                <id>DataStoreInfoImpl-6381133a:13a135500fe:-7fff</id>
                <name>tjs</name>
                <enabled>true</enabled>
                <type>PostgreSQL</type>
                <connectionParameters>
                    <entry>
                        <string>port</string>
                        <int>5432</int>
                    </entry>
                    <entry>
                        <string>passwd</string>
                        <string>pgadmin</string>
                    </entry>
                    <entry>
                        <string>Data Source Name</string>
                        <string>public.poblacionprovincias</string>
                    </entry>
                    <entry>
                        <string>host</string>
                        <string>192.168.56.1</string>
                    </entry>
                    <entry>
                        <string>user</string>
                        <string>postgres</string>
                    </entry>
                    <entry>
                        <string>database</string>
                        <string>tjs</string>
                    </entry>
                </connectionParameters>
                <metadata>
                    <map/>
                </metadata>
            </gmx.iderc.geoserver.tjs.catalog.impl.DataStoreInfoImpl>
        </entry>
    </dataStores>
    <dataSets>
        <entry>
            <string>DatasetInfoImpl-3f0897a4:13a13f3cc93:-7fff</string>
            <gmx.iderc.geoserver.tjs.catalog.impl.DatasetInfoImpl>
                <id>DatasetInfoImpl-3f0897a4:13a13f3cc93:-7fff</id>
                <name>PoblacionProvincias</name>
                <enabled>false</enabled>
                <frameworkId>FrameworkInfoImpl-57bbc947:13992450e6d:-8000</frameworkId>
                <dataStoreId>DataStoreInfoImpl-6381133a:13a135500fe:-7fff</dataStoreId>
                <referenceDate>2012-09-29 00:00:00.0 CDT</referenceDate>
                <datasetName>public.poblacionprovincias</datasetName>
                <geoKeyField>id</geoKeyField>
                <datasetUri>http://www.openplans.org/topp/Provincias/PoblacionProvincias</datasetUri>
                <columns>
                    <entry>
                        <string>id</string>
                        <gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                            <name>id</name>
                            <type>http://www.w3.org/TR/xmlschema-2/#int</type>
                            <length>11</length>
                            <decimals>0</decimals>
                        </gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                    </entry>
                    <entry>
                        <string>nombre</string>
                        <gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                            <name>nombre</name>
                            <type>http://www.w3.org/TR/xmlschema-2/#string</type>
                            <length>2147483647</length>
                            <decimals>0</decimals>
                        </gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                    </entry>
                    <entry>
                        <string>total_2009</string>
                        <gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                            <name>total_2009</name>
                            <type>http://www.w3.org/TR/xmlschema-2/#int</type>
                            <title>Total 2009</title>
                            <length>11</length>
                            <decimals>0</decimals>
                        </gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                    </entry>
                    <entry>
                        <string>urbana_2009</string>
                        <gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                            <name>urbana_2009</name>
                            <type>http://www.w3.org/TR/xmlschema-2/#int</type>
                            <title>Urbana 2009</title>
                            <length>11</length>
                            <decimals>0</decimals>
                        </gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                    </entry>
                    <entry>
                        <string>total_2010</string>
                        <gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                            <name>total_2010</name>
                            <type>http://www.w3.org/TR/xmlschema-2/#int</type>
                            <length>11</length>
                            <decimals>0</decimals>
                        </gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                    </entry>
                    <entry>
                        <string>rural_2010</string>
                        <gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                            <name>rural_2010</name>
                            <type>http://www.w3.org/TR/xmlschema-2/#int</type>
                            <length>11</length>
                            <decimals>0</decimals>
                        </gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                    </entry>
                    <entry>
                        <string>urbana_2010</string>
                        <gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                            <name>urbana_2010</name>
                            <type>http://www.w3.org/TR/xmlschema-2/#int</type>
                            <length>11</length>
                            <decimals>0</decimals>
                        </gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                    </entry>
                    <entry>
                        <string>rural_2009</string>
                        <gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                            <name>rural_2009</name>
                            <type>http://www.w3.org/TR/xmlschema-2/#int</type>
                            <length>11</length>
                            <decimals>0</decimals>
                        </gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                    </entry>
                    <entry>
                        <string>id_key</string>
                        <gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                            <name>id_key</name>
                            <type>http://www.w3.org/TR/xmlschema-2/#int</type>
                            <length>11</length>
                            <decimals>0</decimals>
                        </gmx.iderc.geoserver.tjs.catalog.impl.ColumnInfoImpl>
                    </entry>
                </columns>
            </gmx.iderc.geoserver.tjs.catalog.impl.DatasetInfoImpl>
        </entry>
        <entry>
            <string>DatasetInfoImpl-22a80e4e:1399c7d8600:-7ffd</string>
            <gmx.iderc.geoserver.tjs.catalog.impl.DatasetInfoImpl>
                <id>DatasetInfoImpl-22a80e4e:1399c7d8600:-7ffd</id>
                <name>DatosdeProvincias</name>
                <description>popo</description>
                <enabled>false</enabled>
                <frameworkId>FrameworkInfoImpl-57bbc947:13992450e6d:-8000</frameworkId>
                <dataStoreId>DataStoreInfoImpl-40cce177:1399704da19:-7fff</dataStoreId>
                <referenceDate>2012-09-06 00:00:00.0 CDT</referenceDate>
                <version>1</version>
                <documentation>http://www.iderc.co.cu/datosProvincias/</documentation>
                <datasetName>hermeslm.testing_27032012_125034</datasetName>
                <geoKeyField>id</geoKeyField>
            </gmx.iderc.geoserver.tjs.catalog.impl.DatasetInfoImpl>
        </entry>
    </dataSets>
</gmx.iderc.geoserver.tjs.catalog.impl.TJSCatalogImpl>
