<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:web="http://java.sun.com/xml/ns/j2ee"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="
            http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/mvc       http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
            http://www.springframework.org/schema/util      http://www.springframework.org/schema/util/spring-util-3.0.xsd"
               
        default-autowire="byName">
  
  <bean class="org.geogig.geoserver.config.GeogigModuleStatus">
  </bean>

  <bean id="geogigConfigStore" class="org.geogig.geoserver.config.ConfigStore">
    <constructor-arg ref="resourceLoader"/>
  </bean>
  
  <bean id="geogigRepoManager" class="org.geogig.geoserver.config.RepositoryManager">
    <constructor-arg ref="geogigConfigStore"/>
    <constructor-arg ref="resourceLoader"/>
  </bean>

  <bean id="geoGigGeoServerLifeCycleListener" class="org.geogig.geoserver.config.GeoGigGeoServerLifeCycleListener">
  </bean>

  <!-- <bean id="geogigSecurityLogStore" class="org.geogig.geoserver.config.LogStore">
    <constructor-arg ref="resourceLoader"/>
  </bean>

  <bean id="geogigSecurityLogger" class="org.geogig.geoserver.security.SecurityLogger">
    <constructor-arg ref="geogigSecurityLogStore"/>
  </bean> -->

  <!--  REST  -->
  <mvc:interceptors>
   <mvc:interceptor>
     <mvc:mapping path="/geogig/**" />
     <bean class="org.geogig.geoserver.rest.GeogigRequestInterceptor" />
   </mvc:interceptor>
</mvc:interceptors>

  <context:component-scan base-package="org.geogig.geoserver.spring.config"
                        name-generator="org.geogig.geoserver.rest.GeogigBeanNameGenerator" >
  </context:component-scan>
  <context:component-scan base-package="org.geogig.geoserver.spring.controller"
                        name-generator="org.geogig.geoserver.rest.GeogigBeanNameGenerator" >
  </context:component-scan>
  <context:component-scan base-package="org.geogig.geoserver.spring.service"
                        name-generator="org.geogig.geoserver.rest.GeogigBeanNameGenerator" >
  </context:component-scan>
  
  <context:component-scan base-package="org.locationtech.geogig.spring.controller"
                        name-generator="org.geogig.geoserver.rest.GeogigBeanNameGenerator" >
    <context:exclude-filter type="regex" expression="org.locationtech.geogig.spring.controller.ConsoleController" />
    <context:exclude-filter type="regex" expression="org.locationtech.geogig.spring.controller.RequestExceptionHandler" />
  </context:component-scan>
  <context:component-scan base-package="org.locationtech.geogig.spring.service"
                        name-generator="org.geogig.geoserver.rest.GeogigBeanNameGenerator" >
    <context:exclude-filter type="regex" expression="org.locationtech.geogig.spring.service.RepositoryInitService" />
  </context:component-scan>

  <bean id="GeogigLayerIntegrationListener" class="org.geogig.geoserver.wms.GeogigLayerIntegrationListener" >
    <constructor-arg ref="geoServer"/>
  </bean>

  <!-- WEB UI -->

  <bean id="geogigDataStorePanel" class="org.geoserver.web.data.resource.DataStorePanelInfo">
    <property name="id" value="geogig"/>
    <property name="factoryClass" value="org.locationtech.geogig.geotools.data.GeoGigDataStoreFactory"/>
    <property name="iconBase" value="org.geogig.geoserver.web.RepositoriesPage"/>
    <property name="icon" value="geogig_16x16_babyblue.png"/>
    <property name="componentClass" value="org.geogig.geoserver.web.data.store.geogig.GeoGigDataStoreEditPanel"/>
  </bean>
  
  
  <bean id="geogigCategory" class="org.geoserver.web.Category">
    <property name="nameKey" value="category.geogig" />
    <property name="order" value="190" />
  </bean>
  
  <bean id="geogigRepositoriesPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="geogigRepoConfig"/>
    <property name="titleKey" value="RepositoriesPage.title"/>
    <property name="descriptionKey" value="RepositoriesPage.description"/>
    <property name="componentClass" value="org.geogig.geoserver.web.RepositoriesPage"/>
    <property name="category" ref="geogigCategory"/>
    <property name="icon" value="geogig_16x16_darkblue.png"/>
    <property name="order" value="10"/>
  </bean>

  <bean id="geogigSettingsPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="geogigSettings"/>
    <property name="titleKey" value="GeoGigSettingsPage.title"/>
    <property name="descriptionKey" value="GeoGigSettingsPage.description"/>
    <property name="componentClass" value="org.geogig.geoserver.web.GeoGigSettingsPage"/>
    <property name="category" ref="geogigCategory"/>
    <property name="icon" value="geogig_16x16_darkblue.png"/>
    <property name="order" value="9"/>
  </bean>

  <!-- bean id="geogigRemotesPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="geogigRemotesSecurityConfig"/>
    <property name="titleKey" value="RemotesPage.title"/>
    <property name="descriptionKey" value="RemotesPage.description"/>
    <property name="componentClass" value="org.geogig.geoserver.web.RemotesPage"/>
    <property name="category" ref="geogigCategory"/>
    <property name="icon" value="geogig_16x16_darkblue.png"/>
    <property name="order" value="11"/>
  </bean-->
</beans>
