<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="tdDataStorePanel" class="org.geoserver.web.data.resource.DataStorePanelInfo">
    <property name="id" value="tdDataStorePanel"/>
    <property name="factoryClass" value="org.geotools.data.teradata.TeradataDataStoreFactory"/>
    <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
    <property name="icon" value="img/icons/geosilk/database_vector.png"/>
    <property name="componentClass" value="org.geoserver.teradata.TeradataDataStorePanel"/>
  </bean>

  <bean id="tdQueryBandFilter" class="org.geoserver.teradata.TeradataQueryBandFilter"/>
</beans>
