<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean class="org.geoserver.platform.ModuleStatusImpl">
    <constructor-arg index="0" value="gs-importer-web"/>
    <constructor-arg index="1" value="Importer Web"/>
  </bean>
  <!-- 
    wicket ui stuff
   -->
  <bean id="importDataMenuPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="importData" />
    <property name="category" ref="dataCategory"/>
    <property name="titleKey" value="ImportDataPage.menu" />
    <property name="descriptionKey" value="ImportDataPage.description" />
    <property name="componentClass" value="org.geoserver.importer.web.ImportDataPage" />
    <property name="order" value="6"/>
    <property name="icon" value="map_add.png"/>
  </bean>
  <bean id="importerConfigPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="importerConfigPage"/>
    <property name="titleKey" value="ImporterConfigPage.title"/>
    <property name="descriptionKey" value="ImporterConfigPage.description"/>
    <property name="componentClass" value="org.geoserver.importer.web.ImporterConfigPage"/>
    <property name="category" ref="settingsCategory" />
    <property name="order" value="50" />
    <property name="icon" value="map_cog.png" />
  </bean>

</beans>
