<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="geopkgDataStoreFactoryInitializer" class="org.geoserver.geopkg.GeoPkgDataStoreFactoryInitializer">
        <property name="resourceLoader" ref="resourceLoader"/>
    </bean>

    <!-- bean so this will appear on the Modules list in the GS web interface-->
    <bean id="GeoPKGOutputCoreExtension"
          class="org.geoserver.platform.ModuleStatusImpl">
        <property name="module" value="gs-geopkg-output-core" />
        <property name="name" value="GeoPKG Output Extension" />
        <property name="component" value="GeoPKG Output Core" />
        <property name="available" value="true" />
        <property name="enabled" value="true" />
        <property name="category" value="EXTENSION"/>
    </bean>
</beans>