<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="vsiCoverageStorePanel" class="org.geoserver.web.data.resource.DataStorePanelInfo">
        <property name="id" value="vsi"/>
        <property name="factoryClass" value="org.geotools.vsi.VSIFormat"/>
        <property name="icon" value="gs-icon-page-white-raster" />
        <property name="componentClass" value="org.geoserver.vsi.ui.VSIInfoPanel"/>
    </bean>
</beans>
