<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ (c) 2018 Open Source Geospatial Foundation - all rights reserved ~ 
	This code is licensed under the GPL 2.0 license, available at the root ~ 
	application directory. ~ -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.0.4.xsd
          http://www.springframework.org/schema/security/oauth2
          http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd">

	<!-- Enable auto-wiring -->
	<context:annotation-config />

	<!-- Scan for auto-wiring classes in spring saml packages -->
	<context:component-scan
		base-package="org.geoserver.security.oauth2" />

	<bean id="openIdConnectCoreExtension"
		class="org.geoserver.platform.ModuleStatusImpl">
		<constructor-arg index="0"
			value="gs-sec-oidc-core" />
		<constructor-arg index="1"
			value="GeoServer Security OpenID Connect" />
        <property name="category" value="COMMUNITY"/>
	</bean>

	<bean id="oauth2LoginAuthenticationProvider"
		depends-on="oidcHttpSecurityConfiguration"
		class="org.geoserver.security.oauth2.login.GeoServerOAuth2LoginAuthenticationProvider">
		<constructor-arg ref="authenticationManager" />
	</bean>
	
	<bean id="geoServerOAuth2LoginAuthenticationFilterBuilder" 
	       class="org.geoserver.security.oauth2.login.GeoServerOAuth2LoginAuthenticationFilterBuilder" scope="prototype">
	           <property name="tokenDecoderFactory" ref="oidcIdTokenDecoderFactory"/>
	           <property name="http" ref="org.springframework.security.config.annotation.web.configuration.HttpSecurityConfiguration.httpSecurity"/>
	</bean>
	
	<!-- 
        Used for the "Resource Server" use case. Implementation is unfinished, because a different GS
        extension supports this case already. Filter is not offered in UI. This code is never executed.

	<bean id="oauth2ResourceServerAuthenticationProvider"
        depends-on="oidcHttpSecurityConfiguration"
        class="org.geoserver.security.oauth2.resourceserver.GeoServerOAuth2ResourceServerAuthenticationProvider">
        <constructor-arg ref="authenticationManager" />
    </bean>
     -->

	<bean id="oidcHttpSecurityConfiguration"
		class="org.springframework.security.config.annotation.web.configuration.HttpSecurityConfiguration"
		depends-on="contentNegotiationStrategy,oidcObjectPostProcessorConfiguration,oidcAuthenticationConfiguration" />
	<!-- Attention: Name has to match the setter of HttpSecurityConfiguration, 
		otherwise no unique bean is found for autowiring -->
	<bean id="contentNegotiationStrategy"
		class="org.springframework.web.accept.HeaderContentNegotiationStrategy"></bean>
	<bean id="oidcObjectPostProcessorConfiguration"
		class="org.springframework.security.config.annotation.configuration.ObjectPostProcessorConfiguration" />
	<bean id="oidcAuthenticationConfiguration"
		class="org.springframework.security.config.annotation.authentication.configuration.AuthenticationConfiguration" />
		
	<bean id="oidcIdTokenDecoderFactory" class="org.geoserver.security.oauth2.spring.GeoServerOidcIdTokenDecoderFactory"/>
</beans>
