<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:hz="http://www.hazelcast.com/schema/spring"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.hazelcast.com/schema/spring
        http://www.hazelcast.com/schema/spring/hazelcast-spring-2.3.xsd">
        
    <hz:hazelcast id="hzInstance">
        <hz:config>
            <hz:instance-name>gscluster</hz:instance-name>
            <hz:group name="gscluster" password="geoserver" />
            <!--
            <hz:network port="5701" port-auto-increment="false">
                <hz:join>
                    <hz:multicast enabled="false"
                                  multicast-group="224.2.2.3"
                                  multicast-port="54327"/>
                    <hz:tcp-ip enabled="true">
                        <hz:members>10.10.1.2, 10.10.1.3</hz:members>
                    </hz:tcp-ip>
                </hz:join>
            </hz:network>
            <hz:map name="map"
                    backup-count="2"
                    max-size="0"
                    eviction-percentage="30"
                    read-backup-data="true"
                    cache-value="true"
                    eviction-policy="NONE"
                    merge-policy="hz.ADD_NEW_ENTRY"/>
            -->
        </hz:config>
    </hz:hazelcast>

    <bean id="hzHomePageContentProvider" 
        class="org.geoserver.cluster.hazelcast.web.HazelcastHomePageContentProvider">
      <constructor-arg ref="hzInstance"/>
    </bean>

   <bean id="hzSynchronizerInitializer" class="org.geoserver.cluster.hazelcast.HzSynchronizerInitializer">
     <constructor-arg ref="hzInstance"/>
   </bean>

</beans>
