<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="w3dsServicePage" class="org.geoserver.web.MenuPageInfo">
		<property name="id" value="w3ds" />
		<property name="titleKey" value="w3ds.title" />
		<property name="descriptionKey" value="w3ds.description" />
		<property name="componentClass" value="org.geoserver.w3ds.web.W3DSAdminPage" />
		<property name="icon" value="server_3d.png" />
		<property name="category" ref="servicesCategory" />
	</bean>

	<bean id="w3dsLegacyLoader" class="org.geoserver.w3ds.service.W3DSLoader" />
	<bean id="w3dsLoader" class="org.geoserver.w3ds.service.W3DSXStreamLoader">
		<constructor-arg ref="resourceLoader" />
	</bean>

	<bean id="w3dsservice" class="org.geoserver.w3ds.service.W3DS">
		<constructor-arg ref="geoServer" />
	</bean>
	<bean id="w3dsservice-1.0.0" class="org.geoserver.platform.Service">
		<constructor-arg index="0" value="w3ds" />
		<constructor-arg index="1" ref="w3dsservice" />
		<constructor-arg index="2" value="0.4.0" />
		<constructor-arg index="3">
			<list>
				<value>SayHello</value>
				<value>GetCapabilities</value>
				<value>GetScene</value>
				<value>GetFeatureInfo</value>
				<value>GetTile</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="w3dsURLMapping" class="org.geoserver.ows.OWSHandlerMapping">
		<constructor-arg ref="catalog" />
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
			<props>
				<prop key="/w3ds">dispatcher</prop>
			</props>
		</property>
	</bean>

	<bean id="W3DSgetCapabilitiesResponse" class="org.geoserver.w3ds.responses.GetCapabilitiesResponse"
		singleton="false" />
	<bean id="W3DSX3DResponse" class="org.geoserver.w3ds.responses.X3DResponse"
		singleton="false" />
	<bean id="W3DSHtmlX3DResponse" class="org.geoserver.w3ds.responses.HtmlX3DResponse"
		singleton="false" />
	<bean id="W3DSKmlResponse" class="org.geoserver.w3ds.responses.KmlResponse"
		singleton="false" />
	<bean id="getSceneKvpReaderRequestReader" class="org.geoserver.w3ds.kvp.GetSceneKvpRequestReader">
		<constructor-arg value="org.geoserver.w3ds.types.GetSceneRequest" />
		<constructor-arg ref="catalog" />
		<constructor-arg ref="geoServer" />
	</bean>
	<bean id="getFeatureInfoKvpRequestReader" class="org.geoserver.w3ds.kvp.GetFeatureInfoKvpRequestReader">
		<constructor-arg value="org.geoserver.w3ds.types.GetFeatureInfoRequest" />
		<constructor-arg ref="catalog" />
		<constructor-arg ref="geoServer" />
	</bean>
	<bean id="getTileKvpReaderRequestReader" class="org.geoserver.w3ds.kvp.GetTileKvpRequestReader">
		<constructor-arg value="org.geoserver.w3ds.types.GetTileRequest" />
		<constructor-arg ref="catalog" />
		<constructor-arg ref="geoServer" />
	</bean>

	<bean id="W3DSEditTabPanelInfo" class="org.geoserver.web.data.resource.LayerEditTabPanelInfo">
		<property name="id" value="W3DSEditTabPanelInfo" />
		<property name="titleKey" value="W3DSEditTabPanelInfo.title" />
		<property name="descriptionKey" value="W3DSEditTabPanelInfo.shortDescription" />
		<property name="componentClass" value="org.geoserver.w3ds.web.X3DLayerConfigPanel" />
		<property name="order" value="100" />
	</bean>

</beans>
