<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean id="simpleFeatureServiceMapping" class="org.geoserver.rest.RESTMapping">
    <property name="routes">
      <map>
        <entry>
          <key>
            <value>/sfs/capabilities</value>
          </key>
          <value>capabilitiesFinder</value>
        </entry>
        <entry>
          <key>
            <value>/sfs/describe/{layer}</value>
          </key>
          <value>describeFinder</value>
        </entry>
        <entry>
          <key>
            <value>/sfs/data/{layer}</value>
          </key>
          <value>featureCollectionFinder</value>
        </entry>
        <entry>
          <key>
            <value>/sfs/data/{layer}/{fid}</value>
          </key>
          <value>featureCollectionFinder</value>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="capabilitiesFinder" class="org.geoserver.sfs.CapabilitiesFinder" >
    <constructor-arg index="0" ref="catalog"/>
  </bean>
  <bean id="describeFinder" class="org.geoserver.sfs.DescribeFinder" >
    <constructor-arg index="0" ref="catalog"/>
  </bean>
  <bean id="featureCollectionFinder" class="org.geoserver.sfs.FeatureCollectionFinder" >
    <constructor-arg index="0" ref="catalog"/>
  </bean>
</beans>
