<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2017 Open Source Geospatial Foundation. All rights reserved.
  This code is licensed under the GPL 2.0 license, available at the root
  application directory.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="statusPageExtraTab" class="org.geoserver.web.admin.StatusPageTest$ExtraTabDefinition"/>

</beans>
