<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="templateConfiguration" class="org.geoserver.featurestemplating.configuration.TemplateLoader">
        <constructor-arg ref="dataDirectory"/>
    </bean>

    <bean id="templateLayerConfXMLPersister"
          class="org.geoserver.featurestemplating.configuration.TemplateLayerConfigXStreamPersisterInitializer" />

    <bean id="templateDao" class="org.geoserver.featurestemplating.configuration.TemplateInfoDAOImpl"/>

    <bean id="templateFileManager" class="org.geoserver.featurestemplating.configuration.TemplateFileManager">
        <constructor-arg ref="catalog"/>
        <constructor-arg ref="dataDirectory"/>
    </bean>

    <bean id="templateCacheReloader" class="org.geoserver.featurestemplating.configuration.TemplateReloader">
        <constructor-arg ref="templateConfiguration"/>
    </bean>
    
</beans>