<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- Feature templates -->
    <bean id="templateConfiguration" class="org.geoserver.featurestemplating.configuration.TemplateLoader">
        <constructor-arg ref="dataDirectory"/>
    </bean>

    <bean id="templateLayerConfXMLPersister"
          class="org.geoserver.featurestemplating.configuration.TemplateLayerConfigXStreamPersisterInitializer" />

    <bean id="templateDao" class="org.geoserver.featurestemplating.configuration.TemplateInfoDAOImpl"/>

    <bean id="templateFileManager" class="org.geoserver.featurestemplating.configuration.TemplateFileManager">
        <constructor-arg ref="catalog"/>
        <constructor-arg ref="dataDirectory"/>
    </bean>

    <bean id="templateCacheReloader" class="org.geoserver.featurestemplating.configuration.TemplateReloader">
        <constructor-arg ref="templateConfiguration"/>
    </bean>

    <!-- Schema override -->
    <bean id="schemaConfiguration" class="org.geoserver.featurestemplating.configuration.schema.SchemaLoader">
        <constructor-arg ref="dataDirectory"/>
    </bean>

    <bean id="schemaLayerConfXMLPersister"
          class="org.geoserver.featurestemplating.configuration.schema.SchemaLayerConfigXStreamPersisterInitializer" />

    <bean id="schemaDao" class="org.geoserver.featurestemplating.configuration.schema.SchemaInfoDAOImpl"/>

    <bean id="schemaFileManager" class="org.geoserver.featurestemplating.configuration.schema.SchemaFileManager">
        <constructor-arg ref="catalog"/>
        <constructor-arg ref="dataDirectory"/>
    </bean>

    <bean id="schemaCacheReloader" class="org.geoserver.featurestemplating.configuration.schema.SchemaReloader">
        <constructor-arg ref="schemaConfiguration"/>
    </bean>
</beans>