<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

   <bean id="scriptDispatcherMapping" 
        class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true"/>
    <property name="mappings">
        <props>
            <prop key="/script/**">restWrapper</prop>
        </props>
    </property>
  </bean>

  <bean id="scriptMgr" class="org.geoserver.script.ScriptManager">
    <constructor-arg ref="dataDirectory"/>
  </bean>

  <bean id="scriptWfsTxPlugin" class="org.geoserver.script.wfs.ScriptTransactionPlugin">
    <constructor-arg ref="scriptMgr"/>
  </bean>

  <!-- rest -->
  <bean id="scriptRestMapping" class="org.geoserver.rest.RESTMapping">
    <property name="routes">
      <map>
        <!-- Scripting Apps -->
        <entry>
            <key><value>/apps/{app}</value></key>
            <value>appFinder</value>
        </entry>
        <entry>
            <key><value>/apps/{app}/</value></key>
            <value>appFinder</value>
        </entry>
        <!-- WPS -->
        <entry>
            <key><value>/scripts/wps</value></key>
            <value>scriptFinder</value>
        </entry>
        <entry>
        <key>
            <value>/scripts/wps/{name}.{ext}</value></key>
            <value>scriptFinder</value>
        </entry>
        <!-- Function -->
        <entry>
            <key><value>/scripts/function</value></key>
            <value>scriptFinder</value>
        </entry>
        <entry>
            <key><value>/scripts/function/{name}.{ext}</value></key>
            <value>scriptFinder</value>
        </entry>
        <!-- WFS TX -->
        <entry>
            <key><value>/scripts/wfs/tx</value></key>
            <value>scriptFinder</value>
        </entry>
        <entry>
            <key><value>/scripts/wfs/tx/{name}.{ext}</value></key>
            <value>scriptFinder</value>
        </entry>
        <!-- Apps -->
        <entry>
            <key><value>/scripts/apps</value></key>
            <value>scriptFinder</value>
        </entry>
        <entry>
            <key><value>/scripts/apps/{name}/main.{ext}</value></key>
            <value>scriptFinder</value>
        </entry>
        <!-- Scripting Sessions -->
        <entry>
          <key><value>/sessions</value></key>
          <value>sessionFinder</value>
        </entry>
        <entry>
          <key><value>/sessions/{ext}</value></key>
          <value>sessionFinder</value>
        </entry>
        <entry>
          <key><value>/sessions/{ext}/{session}</value></key>
          <value>sessionFinder</value>
        </entry>
      </map>
    </property>
  </bean>
  
  <bean id="appFinder" class="org.geoserver.script.app.AppFinder">
    <constructor-arg ref="scriptMgr"/>
  </bean>
  <bean id="scriptFinder" class="org.geoserver.script.rest.ScriptFinder">
    <constructor-arg ref="scriptMgr"/>
  </bean>
  <bean id="sessionFinder" class="org.geoserver.script.rest.SessionFinder">
    <constructor-arg ref="scriptMgr"/>
  </bean>
  
  <!-- wps stuff -->
  <bean id="mapXmlPPIO" class="org.geoserver.script.wps.MapXMLPPIO"/>
  <bean id="mapJsonPPIO" class="org.geoserver.script.wps.MapJSONPPIO"/>

</beans>
