<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - 2016 Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean class="org.geoserver.platform.ModuleStatusImpl">
    <constructor-arg index="0" value="gs-web-wms"/>
    <constructor-arg index="1" value="GeoServer Web UI Web Map Service"/>
  </bean>
  <bean id="wmsServicePage" class="org.geoserver.web.services.ServiceMenuPageInfo">
    <property name="id" value="wms"/>
    <property name="titleKey" value="wms.title"/>
    <property name="descriptionKey" value="wms.description"/>
    <property name="componentClass" value="org.geoserver.wms.web.WMSAdminPage"/>
    <property name="icon" value="server_map.png"/>
    <property name="category" ref="servicesCategory"/>
    <property name="serviceClass" value="org.geoserver.wms.WMSInfo"/>
  </bean> 
    
  <bean id="wmsLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="wmsLayerConfig"/>
    <property name="titleKey" value="publish.layer.config.wms"/>
    <property name="componentClass" value="org.geoserver.wms.web.publish.WMSLayerConfig"/>
  </bean>

  <bean id="wmsLayerGroupConfig" class="org.geoserver.web.publish.CommonPublishedConfigurationPanelInfo">
    <property name="id" value="authoritiesAndIdentifiersConfig"/>
    <property name="titleKey" value="publish.layergroup.config.wms"/>
    <property name="componentClass" value="org.geoserver.wms.web.publish.LayerAuthoritiesAndIdentifiersConfigPanel"/>
  </bean>

  <bean id="attributionLayerConfig" class="org.geoserver.web.publish.CommonPublishedConfigurationPanelInfo">
    <property name="id" value="attributionLayerConfig"/>
    <property name="titleKey" value="publish.layer.config.attribution"/>
    <property name="componentClass" value="org.geoserver.wms.web.publish.AttributionLayerConfigPanel"/>
  </bean>

  <bean id="kmlLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="kmlLayerConfig"/>
    <property name="titleKey" value="publish.layer.config.kml"/>
    <property name="componentClass" value="org.geoserver.wms.web.publish.KMLLayerConfigPanel"/>
    <property name="supportedTypes">
      <list>
        <value>org.geoserver.catalog.FeatureTypeInfo</value>
      </list>
    </property>
  </bean>

  <bean id="styleMenuPage" class="org.geoserver.web.MenuPageInfo">
     <property name="id" value="style.manager"/>
     <property name="titleKey" value="style.title"/>
     <property name="descriptionKey" value="StylePage.description"/>
     <property name="componentClass" value="org.geoserver.wms.web.data.StylePage"/>
     <property name="category" ref="dataCategory"/>
     <property name="icon" value="palette.png"/>
     <property name="order" value="30"/>
     <property name="authorizer" ref="workspaceAdminAuthorizer"/>
  </bean>  
</beans>
