<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="templateConfiguration" class="org.geoserver.featurestemplating.configuration.TemplateConfiguration">
        <constructor-arg ref="dataDirectory"/>
    </bean>

    <bean id="jsonCallback" class="org.geoserver.featurestemplating.request.JsonTemplateCallback">
        <constructor-arg ref="geoServer"/>
        <constructor-arg ref="templateConfiguration"/>
    </bean>

    <bean id="jsonCallbackOGC" class="org.geoserver.featurestemplating.request.JsonTemplateCallBackOGC">
        <constructor-arg ref="geoServer"/>
        <constructor-arg ref="templateConfiguration"/>
    </bean>

    <bean id="JSONLDGetFeatureResponse" class="org.geoserver.featurestemplating.response.JSONLDGetFeatureResponse">
        <constructor-arg ref="geoServer"/>
        <constructor-arg ref="templateConfiguration"/>
    </bean>

</beans>