<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ (c) 2026 Open Source Geospatial Foundation - all rights reserved
  ~ This code is licensed under the GPL 2.0 license, available at the root
  ~ application directory.
  ~
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="org.geoserver.platform.ModuleStatusImpl">
    <constructor-arg index="0" value="gs-sec-keycloak-roles"/>
    <constructor-arg index="1" value="GeoServer Keycloak Roles Security"/>
    <property name="category" value="COMMUNITY"/>
  </bean>

  <bean id="keycloakSecurityProvider"
    class="org.geoserver.security.keycloak.KeycloakSecurityProvider"/>

</beans>
