<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName">

	<bean id="geoNodeEncoder"
		class="org.geoserver.notification.common.EncoderXStreamInitializer">
		<constructor-arg value="geonodeEncoder"></constructor-arg>
		<constructor-arg value="org.geoserver.notification.geonode.GeoNodeJsonEncoder"></constructor-arg>
	</bean>

</beans>
