<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2018 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="ghrsstNetCDFEncoderFactory" class="org.geoserver.wcs.responses.GHRSSTEncoderFactory"/>
  <bean id="ghrsstExtensionPanel" class="org.geoserver.web.netcdf.NetCDFExtensionPanelInfo">
    <description>This bean adds the GHRSST form fields to Geoserver layer page</description>
    <property name="id" value="ghrsstExtensionPanel"/>
    <property name="titleKey" value="title"/>
    <property name="componentClass" value="org.geoserver.web.netcdf.GHRSSTExtensionPanel"/>
  </bean>

</beans>
