<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - 2016 Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean class="org.geoserver.platform.ModuleStatusImpl">
  <constructor-arg index="0" value="gs-restconfig"/>
  <constructor-arg index="1" value="GeoServer REST Configuration"/>
</bean>
<bean id="restConfigMapping" class="org.geoserver.rest.RESTMapping">
<property name="routes">
  <map> 
        <entry>
          <key><value>/workspaces/{workspace}.{type}</value></key>
          <value>workspaceFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}</value></key>
          <value>workspaceFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces.{type}</value></key>
          <value>workspaceFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces</value></key>
          <value>workspaceFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/file.{format}</value></key>
          <value>storeFileFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/external.{format}</value></key>
          <value>storeFileFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/url.{format}</value></key>
          <value>storeFileFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/file.{format}</value></key>
          <value>storeFileFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/external.{format}</value></key>
          <value>storeFileFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/url.{format}</value></key>
          <value>storeFileFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}.{format}</value></key>
          <value>dataStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}</value></key>
          <value>dataStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores.{format}</value></key>
          <value>dataStoreFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/datastores</value></key>
          <value>dataStoreFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}.{format}</value></key>
          <value>coverageStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}</value></key>
          <value>coverageStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores.{format}</value></key>
          <value>coverageStoreFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/coveragestores</value></key>
          <value>coverageStoreFinder</value>
        </entry>
        
        <entry>
          <key><value>/workspaces/{workspace}/wmsstores/{wmsstore}.{format}</value></key>
          <value>wmsStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/wmsstores/{wmsstore}</value></key>
          <value>wmsStoreFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/wmsstores.{format}</value></key>
          <value>wmsStoreFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/wmsstores</value></key>
          <value>wmsStoreFinder</value>
        </entry>
        
        <entry>
          <key><value>/workspaces/{workspace}/styles/{style}.{format}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/styles/{style}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/styles.{format}</value></key>
          <value>styleFinder2</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/styles</value></key>
          <value>styleFinder2</value>
        </entry>

        <entry>
          <key><value>/workspaces/{workspace}/layergroups/{layergroup}.{format}</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/layergroups/{layergroup}</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/layergroups.{format}</value></key>
          <value>layerGroupFinder2</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/layergroups</value></key>
          <value>layerGroupFinder2</value>
        </entry>

        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes/{featuretype}.{format}</value></key>
          <value>featureTypeFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes/{featuretype}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes.{format}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes</value></key>
          <value>featureTypeFinder</value>
        </entry>
        
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}.{format}</value></key>
          <value>coverageFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages.{format}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages</value></key>
          <value>coverageFinder</value>
        </entry>
        
        <entry>
          <key><value>/workspaces/{workspace}/wmsstores/{wmsstore}/wmslayers/{wmslayer}.{format}</value></key>
          <value>wmsLayerFinder</value>
        </entry>
         <entry>
          <key><value>/workspaces/{workspace}/wmsstores/{wmsstore}/wmslayers/{wmslayer}</value></key>
          <value>wmsLayerFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/wmsstores/{wmsstore}/wmslayers.{format}</value></key>
          <value>wmsLayerFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/wmsstores/{wmsstore}/wmslayers</value></key>
          <value>wmsLayerFinder</value>
        </entry>
        
        <entry>
          <key><value>/workspaces/{workspace}/featuretypes/{featuretype}.{format}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/featuretypes/{featuretype}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/featuretypes.{format}</value></key>
          <value>featureTypeFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/featuretypes</value></key>
          <value>featureTypeFinder</value>
        </entry>
        
        <entry>
          <key><value>/workspaces/{workspace}/coverages/{coverage}.{format}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coverages/{coverage}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coverages.{format}</value></key>
          <value>coverageFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/coverages</value></key>
          <value>coverageFinder</value>
        </entry>
        
        <entry>
          <key><value>/workspaces/{workspace}/wmslayers/{wmslayer}.{format}</value></key>
          <value>wmsLayerFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/wmslayers/{wmslayer}</value></key>
          <value>wmsLayerFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/wmslayers.{format}</value></key>
          <value>wmsLayerFinder</value>
        </entry>
        <entry>
          <key><value>/workspaces/{workspace}/wmslayers</value></key>
          <value>wmsLayerFinder</value>
        </entry>
        
        <entry>
          <key><value>/namespaces/{namespace}.{format}</value></key>
          <value>namespaceFinder</value>
        </entry>
        <entry>
          <key><value>/namespaces/{namespace}</value></key>
          <value>namespaceFinder</value>
        </entry>
        <entry>
          <key><value>/namespaces.{format}</value></key>
          <value>namespaceFinder</value>
        </entry>
        <entry>
          <key><value>/namespaces</value></key>
          <value>namespaceFinder</value>
        </entry>
        <entry>
          <key><value>/layers/{layer}/styles.{format}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/layers/{layer}/styles</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/styles/{style}.{format}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/styles/{style}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/styles.{format}</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/styles</value></key>
          <value>styleFinder2</value>
        </entry>
        <entry>
          <key><value>/layers/{layer}.{format}</value></key>
          <value>layerFinder2</value>
        </entry>
        <entry>
          <key><value>/layers/{layer}</value></key>
          <value>layerFinder2</value>
        </entry>
        <entry>
          <key><value>/layers.{format}</value></key>
          <value>layerFinder2</value>
        </entry>
        <entry>
          <key><value>/layers</value></key>
          <value>layerFinder2</value>
        </entry>
        
         <entry>
          <key><value>/layergroups/{layergroup}.{format}</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        <entry>
          <key><value>/layergroups/{layergroup}</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        <entry>
          <key><value>/layergroups.{format}</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        <entry>
          <key><value>/layergroups</value></key>
          <value>layerGroupFinder2</value>
        </entry>
        <entry>
          <key><value>/reload</value></key>
          <value>catalogReloader</value>
        </entry>
        <entry>
          <key><value>/reset</value></key>
          <value>catalogResetter</value>
        </entry>
        
        <entry>
          <key><value>/about/manifest.{format}</value></key>
          <value>aboutManifestFinder</value>
        </entry>
        <entry>
          <key><value>/about/manifest</value></key>
          <value>aboutManifestFinder</value>
        </entry>
        <entry>
          <key><value>/about/version.{format}</value></key>
          <value>aboutVersionFinder</value>
        </entry>
        <entry>
          <key><value>/about/version</value></key>
          <value>aboutVersionFinder</value>
        </entry>
        <entry>
          <key><value>/about/status</value></key>
          <value>aboutStatusFinder</value>
        </entry>
        <entry>
          <key><value>/about/status.{format}</value></key>
          <value>aboutStatusFinder</value>
        </entry>
        
        <entry>
          <key><value>/fonts.{format}</value></key>
          <value>fontFinder</value>
        </entry>

        <entry>
            <key><value>/settings.{format}</value></key>
            <value>globalSettingsFinder</value>
        </entry>
        <entry>
            <key><value>/settings</value></key>
            <value>globalSettingsFinder</value>
        </entry>
        <entry>
            <key><value>/settings/contact.{format}</value></key>
            <value>globalContactFinder</value>
        </entry>
        <entry>
            <key><value>/settings/contact</value></key>
            <value>globalContactFinder</value>
        </entry>

        <entry>
            <key><value>/workspaces/{workspace}/settings</value></key>
            <value>localSettingsFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/settings.{format}</value></key>
            <value>localSettingsFinder</value>
        </entry>

        <entry>
            <key><value>/services/wms/settings</value></key>
            <value>wmsSettingsFinder</value>
        </entry>
        <entry>
            <key><value>/services/wms/settings.{format}</value></key>
            <value>wmsSettingsFinder</value>
        </entry>

        <entry>
            <key><value>/services/wms/workspaces/{workspace}/settings</value></key>
            <value>wmsSettingsFinder</value>
        </entry>
        <entry>
            <key><value>/services/wms/workspaces/{workspace}/settings.{format}</value></key>
            <value>wmsSettingsFinder</value>
        </entry>

        <entry>
            <key><value>/services/wfs/settings</value></key>
            <value>wfsSettingsFinder</value>
        </entry>
        <entry>
            <key><value>/services/wfs/settings.{format}</value></key>
            <value>wfsSettingsFinder</value>
        </entry>

        <entry>
            <key><value>/services/wfs/workspaces/{workspace}/settings</value></key>
            <value>wfsSettingsFinder</value>
        </entry>
        <entry>
            <key><value>/services/wfs/workspaces/{workspace}/settings.{format}</value></key>
            <value>wfsSettingsFinder</value>
        </entry>

        <entry>
            <key><value>/services/wcs/settings</value></key>
            <value>wcsSettingsFinder</value>
        </entry>
        <entry>
            <key><value>/services/wcs/settings.{format}</value></key>
            <value>wcsSettingsFinder</value>
        </entry>

        <entry>
            <key><value>/services/wcs/workspaces/{workspace}/settings</value></key>
            <value>wcsSettingsFinder</value>
        </entry>
        <entry>
            <key><value>/services/wcs/workspaces/{workspace}/settings.{format}</value></key>
            <value>wcsSettingsFinder</value>
        </entry>    

        <entry>
            <key><value>/templates</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>                
        <entry>
            <key><value>/templates.{format}</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>                
          <entry>
            <key><value>/templates/{template}.ftl</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/templates</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>                
        <entry>
            <key><value>/workspaces/{workspace}/templates.{format}</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>        
        <entry>
            <key><value>/workspaces/{workspace}/templates/{template}.ftl</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/datastores/{datastore}/templates</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>                
        <entry>
            <key><value>/workspaces/{workspace}/datastores/{datastore}/templates.{format}</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>        
        <entry>
            <key><value>/workspaces/{workspace}/datastores/{datastore}/templates/{template}.ftl</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes/{featuretype}/templates</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>                
        <entry>
            <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes/{featuretype}/templates.{format}</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>        
        <entry>
            <key><value>/workspaces/{workspace}/datastores/{datastore}/featuretypes/{featuretype}/templates/{template}.ftl</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/templates</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>                
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/templates.{format}</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>        
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/templates/{template}.ftl</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}/templates</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>                            
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}/templates.{format}</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>                    
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}/templates/{template}.ftl</value></key>
            <value>freemarkerTemplateFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}/index</value></key>
            <value>structuredCoverageFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}/index.{format}</value></key>
            <value>structuredCoverageFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}/index/granules</value></key>
            <value>structuredCoverageFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}/index/granules.{format}</value></key>
            <value>structuredCoverageFinder</value>
        </entry>
        <entry>
            <key><value>/workspaces/{workspace}/coveragestores/{coveragestore}/coverages/{coverage}/index/granules/{granule}</value></key>
            <value>structuredCoverageFinder</value>
        </entry>        
        <entry>
            <key><value>/resource</value></key>
            <value>resourceFinder</value>
        </entry>
  </map>
</property>
</bean>



<bean id="abstractCatalogFinder" class="org.geoserver.catalog.rest.AbstractCatalogFinder" abstract="true">
    <constructor-arg ref="catalog"/>
  </bean>
  
  <bean id="resourceFinder" class="org.geoserver.rest.resources.ResourceFinder" >
     <constructor-arg ref="resourceStore"/>
  </bean>
  <bean id="workspaceFinder" class="org.geoserver.catalog.rest.WorkspaceFinder" parent="abstractCatalogFinder"/>
  <bean id="namespaceFinder" class="org.geoserver.catalog.rest.NamespaceFinder" parent="abstractCatalogFinder"/>
  <bean id="dataStoreFinder" class="org.geoserver.catalog.rest.DataStoreFinder" parent="abstractCatalogFinder"/>
  <bean id="coverageStoreFinder" class="org.geoserver.catalog.rest.CoverageStoreFinder" parent="abstractCatalogFinder"/>
  <bean id="wmsStoreFinder" class="org.geoserver.catalog.rest.WMSStoreFinder" parent="abstractCatalogFinder"/>
  <bean id="storeFileFinder" class="org.geoserver.catalog.rest.StoreFileFinder" parent="abstractCatalogFinder"/>
  <bean id="featureTypeFinder" class="org.geoserver.catalog.rest.FeatureTypeFinder" parent="abstractCatalogFinder"/>
  <bean id="coverageFinder" class="org.geoserver.catalog.rest.CoverageFinder" parent="abstractCatalogFinder"/>
  <bean id="wmsLayerFinder" class="org.geoserver.catalog.rest.WMSLayerFinder" parent="abstractCatalogFinder"/>
  <bean id="styleFinder2" class="org.geoserver.catalog.rest.StyleFinder" parent="abstractCatalogFinder"/>
  <bean id="layerFinder2" class="org.geoserver.catalog.rest.LayerFinder" parent="abstractCatalogFinder"/>
  <bean id="layerGroupFinder2" class="org.geoserver.catalog.rest.LayerGroupFinder" parent="abstractCatalogFinder"/>
  <bean id="freemarkerTemplateFinder" class="org.geoserver.catalog.rest.FreemarkerTemplateFinder" parent="abstractCatalogFinder"/>
  <bean id="structuredCoverageFinder" class="org.geoserver.catalog.rest.StructuredGridCoverageFinder" parent="abstractCatalogFinder"/>
  <bean id="catalogReloader" class="org.geoserver.catalog.rest.CatalogReloader">
     <constructor-arg index="0" ref="geoServer"/>
     <constructor-arg index="1" value="false"/>
  </bean>
  <bean id="catalogResetter" class="org.geoserver.catalog.rest.CatalogReloader">
     <constructor-arg ref="geoServer"/>
     <constructor-arg index="1" value="true"/> <!--  force reset instead of reload -->
  </bean>

  <bean id="fontFinder" class="org.geoserver.rest.FontListResource"  scope="prototype"/>
  
  <bean id="catalogLocker" class="org.geoserver.rest.RestConfigurationLockCallback">
    <constructor-arg index="0" ref="configurationLock"/>
  </bean>

  <!-- admin request callback -->
  <bean id="adminRequestRestCallback" class="org.geoserver.catalog.rest.AdminRequestCallback"/>

  <bean id="abstractGeoServerFinder" class="org.geoserver.rest.AbstractGeoServerFinder" abstract="true">
    <constructor-arg ref="geoServer"></constructor-arg>
  </bean>

  <bean id="globalSettingsFinder" class="org.geoserver.rest.GlobalSettingsFinder" parent="abstractGeoServerFinder"/>
  <bean id="globalContactFinder" class="org.geoserver.rest.GlobalContactFinder" parent="abstractGeoServerFinder"/>
  <bean id="localSettingsFinder" class="org.geoserver.rest.LocalSettingsFinder" parent="abstractGeoServerFinder"/>
  <bean id="wmsSettingsFinder" class="org.geoserver.service.rest.WMSSettingsFinder" parent="abstractGeoServerFinder"/>
  <bean id="wfsSettingsFinder" class="org.geoserver.service.rest.WFSSettingsFinder" parent="abstractGeoServerFinder"/>
  <bean id="wcsSettingsFinder" class="org.geoserver.service.rest.WCSSettingsFinder" parent="abstractGeoServerFinder"/>

  <bean id="aboutManifestFinder" class="org.geoserver.rest.AboutManifestFinder" />
  <bean id="aboutVersionFinder" class="org.geoserver.rest.AboutVersionFinder" />
  <bean id="aboutStatusFinder" class="org.geoserver.rest.AboutStatusFinder" />
</beans>
