<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="istylePage" class="org.geoserver.web.MenuPageInfo">
    <property name="componentClass" value="org.geoserver.web.istyle.IStylePage"/>
    <property name="titleKey" value="IStylePage.title"/>
    <property name="descriptionKey" value="IStylePage.description"/>
  </bean>
 
</beans>
