<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
  <bean id="appSchemaExtension" class="org.geoserver.platform.ModuleStatusImpl">
    <property name="module" value="gs-app-schema-core" />
    <property name="name" value="App Schema Core Extension"/>
    <property name="component" value="App Schema Core extension"/>
    <property name="available" value="true"/>
    <property name="enabled" value="true"/>
  </bean>
  

</beans>