
:root {
  --bs-blue: #0082b6;
  --bs-primary: var(--bs-blue);
  --bs-green: #c6e09b;
  --bs-success: var(--bs-green);
}

/*-----------------------
General styles
-----------------------*/
body {
  font-family: Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
}
strong, em, dt, b, i {
  font-family: Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
a {
  color: var(--bs-blue);
}
p {
  max-width: 1000px;
}
.btn-outline-primary {
  color: var(--bs-blue);
  border-color: var(--bs-blue);
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--bs-blue);
}
.card-header h2 {
  font-size: 1rem;
  margin: 0;
}
header {
  border-bottom: 2px solid var(--bs-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  flex-wrap: wrap;
}

header #fetch {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

header a {
  height: 67px;
  width: 220px;
  background: url(img/logo.png) no-repeat;
  display: block;
}

.function-table, .function-table td, .function-table tr, .function-table th {
  border: 1px solid darkgray; 
  border-collapse: collapse;
  padding: 0.3em;
}

.function-table th {
  background: var(--bs-green);
}

.badge {
   background-color: var(--bs-blue);
}