<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  
  <!-- 
   core importer setup
    -->

  <bean id="importerInfoDao" class="org.geoserver.importer.ImporterInfoDAO"/>
  
  <bean id="importer" class="org.geoserver.importer.Importer">
    <constructor-arg ref="catalog"/>
    <constructor-arg ref="importerInfoDao"/>
  </bean>
  
  <!--  format beans -->
  <bean id="kmlFormat" class="org.geoserver.importer.format.KMLFileFormat" />
  <bean id="gmlFormat" class="org.geoserver.importer.format.GMLFileFormat" />
  <bean id="geoJsonFormat" class="org.geoserver.importer.format.GeoJSONFormat" />

  <bean id="spatialFileExtensionsProvider" class="org.geoserver.importer.SpatialFileExtensionsProvider" />
  
  <bean id="ImporterCoreExtension"
	class="org.geoserver.platform.ModuleStatusImpl">
	<property name="module" value="gs-importer-core" />
	<property name="name" value="Importer Core Extension" />
	<property name="component" value="Importer Core plugin" />
	<property name="available" value="true" />
	<property name="enabled" value="true" />
  </bean>
</beans>
