site_name: GeoServer User Guide (English)
site_description: GeoServer user documentation in English
site_author: GeoServer Team
site_url: https://docs.geoserver.org/

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: blue
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share
  # Disable syntax highlighting to avoid Pygments issues
  hljs: false

plugins:
  - search
  # Minify plugin disabled - causes htmlmin.parser.OpenTagNotFoundError with HTML code examples
  # - minify:
  #     minify_html: true

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra_css:
  - css/extra.css

site_dir: ../../../gh-pages-output/en/user
