<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  (c) 2019 Open Source Geospatial Foundation - all rights reserved
  ~  This code is licensed under the GPL 2.0 license, available at the root
  ~  application directory.
  ~  
  -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="configuration" class="org.geoserver.ogcapi.APIConfigurationSupport"/>
    <bean id="hello" class="org.geoserver.ogcapi.HelloController"/>
    <bean id="geoServer" class="org.geoserver.config.impl.GeoServerImpl"/>
    <bean id="dispatcher" class="org.geoserver.ogcapi.APIDispatcher">
        <constructor-arg ref="geoServer"/>
    </bean>
    <bean id="defaultExceptionHandler" class="org.geoserver.ogcapi.DefaultAPIExceptionHandler">
        <constructor-arg ref="geoServer"/>
    </bean>
    <bean id="mvcContentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManager"/>
    <bean id="mvcConversionService" class="org.springframework.format.support.FormattingConversionService"/>
    <bean id="mvcValidator" class="org.springframework.validation.beanvalidation.OptionalValidatorFactoryBean"/>
    <bean id="restConfiguration" class="org.geoserver.rest.RestConfiguration"/>
    <bean id="catalog" class="org.geoserver.catalog.impl.CatalogImpl"/>

</beans>
