<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean class="org.geoserver.map.turbojpeg.TurboJpegStatus"/>   

  <bean id="TurboJPEGMapOutputExclusionFilter" class="org.geoserver.platform.NameExclusionFilter">
    <property name="beanId" value="JPEGMapResponse" />
  </bean>
   <bean id="TurboJPEGMapResponse" class="org.geoserver.map.turbojpeg.TurboJPEGMapResponse">
      <constructor-arg ref="wms" />
    </bean>
</beans>
