<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean class="org.geoserver.grib.GribStatus"/>  
  <bean id="gribStorePanel" class="org.geoserver.web.data.resource.DataStorePanelInfo">
    <property name="id" value="gribRaster" />
    <property name="factoryClass" value="org.geotools.coverage.io.grib.GRIBFormat" />
    <property name="iconBase" value="org.geoserver.web.GeoServerApplication" />
    <property name="icon" value="img/icons/geosilk/page_white_raster.png" />
    <property name="componentClass"
      value="org.geoserver.web.data.store.raster.GribRasterEditPanel" />
  </bean>
 
</beans>
