<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2017 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd.spring-beans.dtd">

<beans>
  <bean id="MBStyleHandler" class="org.geoserver.community.mbstyle.MBStyleHandler">
    <constructor-arg ref="sldHandler"/>
  </bean>
</beans>
