<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (c) 2001 - 2013 OpenPlans - www.openplans.org. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="proxyRestletMapping" class="org.geoserver.rest.RESTMapping">
    <property name="routes">
      <map>
        <entry>
          <key><value>/proxy</value></key>
          <value>proxyRestlet</value>
        </entry>
      </map>
    </property>
  </bean>
  
  <bean id="proxyRestlet" class="org.geoserver.rest.proxy.ProxyRestlet"/>
  <bean class="org.geoserver.web.MenuPageInfo" id="myPageLink">
    <property name="id" value="proxyAdminPage"/>
    <property name="titleKey" value="proxy"/>
    <property name="descriptionKey" value="org.geoserver.web.proxy.ProxyAdminPage.page.description"/>
    <property name="componentClass" value="org.geoserver.web.proxy.ProxyAdminPage"/>
    <property name="category" ref="settingsCategory"/>
    <property name="order" value="100"/>
  </bean>
  
</beans>
