<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- The xstream and the legacy service loaders -->
	<bean id="legacyWcsLoader" class="org.geoserver.wcs.WCSLoader"/>
	<bean id="wcsLoader" class="org.geoserver.wcs.WCSXStreamLoader">
	  <constructor-arg ref="resourceLoader"/>
	</bean>
	
	<!-- the abstract base bean -->
	<bean id="wcsAbstractService" abstract="true"
		class="org.vfny.geoserver.servlets.AbstractService">
		<!--  reference to geoserver bean defined in the 'main' context -->
		<property name="geoServer" ref="geoServer"/>
		<property name="catalog" ref="catalog"/>
	</bean>

	<!-- http url mapping -->
	<bean id="wcsURLMapping" class="org.geoserver.ows.OWSHandlerMapping">
		<constructor-arg ref="catalog"/>
		<property name="alwaysUseFullPath" value="true"/>
        <property name="mappings">
          <props>
            <prop key="/wcs">dispatcher</prop>
            <prop key="/wcs/**">dispatcher</prop>
          </props>
        </property>
	</bean>
	
	<bean id="wcsLocalWorkspaceURLManger" class="org.geoserver.ows.LocalWorkspaceURLMangler">
      <constructor-arg value="wcs"/>
    </bean>
    
    <bean id="cqlKvpParser" class="org.geoserver.ows.kvp.CQLFilterKvpParser"/>
    
</beans>