<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- validation module -->
	<bean id="validation"
		class="org.vfny.geoserver.global.GeoValidator">
		<constructor-arg ref="resourceLoader"/>
	</bean>
	<bean id="validationConfig"
		class="org.vfny.geoserver.config.validation.ValidationConfig">
		<constructor-arg ref="validation"/>
	</bean>
	
	<!-- this registers the above beans with the servlet context
	 it is around to keep the struts app happy as we move away from 
	 servlets  -->
	<bean id="validationRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		
		<constructor-arg type="java.lang.String" value="GeoValidator"/>
 		<constructor-arg ref="validation"/>
 	</bean>
	<bean id="validationConfigRegisterar"
		class="org.vfny.geoserver.global.GeoServerServletContextInitializer">
		
		<constructor-arg type="java.lang.String" value="Validation.Config"/>
 		<constructor-arg ref="validationConfig"/>
 	</bean>
	
</beans>
