<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="autopopulateTransactionListener" class="org.geoserver.autopopulate.AutopopulateTransactionCallback">
        <description>
            Listens to WFS transactions and autopopulate the feature type with the values retrieved from the properties
            file.
        </description>
        <constructor-arg ref="catalog"/>
    </bean>
</beans>