/* IE is doubling the top-border when applied to fieldsets, as well as refusing to properly honor their bottom-margin */
fieldset {
padding: 0 0 2em;
border: 0 none transparent;
}

legend span { 
border: 1px solid #000;
border-width: 0 0 1px;
}
