
/*-----------------------
General styles
-----------------------*/

.error, .notice, .success { /* override blueprint.css */
  border: 0 none transparent;
  margin-bottom: 0;
  padding: 0;
  background: transparent;
  border-color: transparent;
}

.palette th, .palette td {
  padding: 0;
}


.palette-header {
  margin-right: -2px;
}

.palette-theme-default .palette-choices > div {
  width: 100%;
  overflow-x: scroll;
  resize: both;
  border: 1px solid rgb(187, 187, 187);
  margin: 0.5em 0;
}

.palette-theme-default .palette-selected > div {
  width: 100%;
  overflow-x: scroll;
  resize: both;
  border: 1px solid rgb(187, 187, 187);
  margin: 0.5em 0;
}

.palette-theme-default .palette-choices select {
  min-width: 100%;
  width: auto;
  margin: 0;
  border: none;
}

.palette-theme-default .palette-selected select {
  min-width: 100%;
  width: auto;
  margin: 0;
  border: none;
}



/*-----------------------
Tables
-----------------------*/

tr.dnd-drop-center td {
  background-color: #cccccc !important;
}

div.dnd-theme-web tr {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

tr.even:hover td, tr.even:hover th {
  background: var(--gs-table-bg-even-hover);
}

th.actions,
td.actions {
width: 13em;
}

th.selection {
	width: 1%; /* use as few space as possible */
}

/*-----------------------
Forms
-----------------------*/

form ul,
ul.form-data {
  margin: 0; /* override blueprint's settings for unordered lists */
  list-style-type: none;
}

form li,
ul.form-data li {
  display: block;
  margin: 0 0 0.3em;
  padding: 4px 5px 2px 0;
  position: relative;
}

form ul ul {
  margin: 0;
}

form li li {
  padding: 0;
  margin: 0.3em 0;
}

form a.expanded, form a.collapsed {
  background-image: url(../img/icons/silk/bullet_arrow_down.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 16px;
  height: 18px;
  font-weight: bold;
}

form a.collapsed {
  background-image: url(../img/icons/silk/bullet_arrow_right.png);
}

fieldset { /* override blueprint's settings */
  padding: 0 0 1em 0;
  margin: 0 0 0.5em;
  border: 0;
}
legend {
  width: 100%;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--gs-green-light);
}
legend a {
  font-weight: normal;
  font-size: 12px;
}
legend li {
  font-weight: normal;
  padding-right: 0;
  font-size: 12px;
}
label, span.fieldname {
  border: medium none;
  color: #222;
  display: block;
  font-weight: normal;
  line-height: 1.5em;
  padding: 0 0 1px;
}

label.choice {
  display: block;
  margin: -1.65em 0 0 25px;
  padding: 0.44em 0 0.5em;
  width: 90%;
  line-height: 1.5em;
}

label.choice,ul.choiceList>li label, *.choiceItem label {
  color: #222;
  font-weight: normal;
  font-size: 100%;
}

ul.choiceList>li span.fieldname:dir(rtl), *.choiceItem span.fieldname:dir(rtl) {
  margin-left: 0;
  margin-right: -2em;
}
ul.choiceList>li label,*.choiceItem label{
  display: inline;
}
li.conformanceItem > label.conformance {
  display: inline;
  margin-right: 0.5em;
}
input[type="checkbox"].indeterminate {
  opacity: 0.5;
}

textarea.cql {
  height: 1.2em;
  width: 95%;
  padding: 3px 3px;
}

textarea.small {
height: 3em;
}

textarea.medium {
height: 7em;
}

input.large, select.large, textarea.large {
width: 100%;
}

input.text, input.file {
padding: 2px 0;
}

input.text:focus, 
input.title:focus, 
textarea:focus {
background: #fbf8dc;
}

select:focus {
background: #fbfaf1;
}

/* input.text, textarea.textarea, .firefox select.select {
border: 1px solid #7c7c7c;
border-color: #7c7c7c #c3c3c3 #ddd;
padding: 0.2em;
width: 25em;
}
input[type=text], input[type=number], input[type=password] {
  border: 1px solid #7c7c7c;
  border-color: #7c7c7c #c3c3c3 #ddd;
}
input[readonly] {
  border: 1px solid Lightgrey;
} */

input.longtext {
  width: 50em;
}

/* standard ul inside form */
form ul.plain-ul {
	margin: 0 1.5em 1.5em;
	list-style-type: disc;
}

form ul.plain-ul li {
	display: list-item;
	list-style-type: disc;
}

/* search button inside text field */


textarea.textarea {
font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
height: 7em;
width: 40em;
}

input.checkbox, input.radio {
display: block;
height: 13px;
line-height: 1.5em;
margin: 0.6em 0 0 3px;
width: 13px;
}

input.btTxt {
overflow: visible;
padding: 0 7px;
width: auto;
}

div.value,
div.value-wide {
border: 1px solid #7c7c7c;
border-color: #7c7c7c #c3c3c3 #ddd;
background: #f1f1f1;
padding: 0.2em;
width: 25em;
}

div.value-wide {
width: 100%;
}

div.value pre,
div.value-wide pre { /* override blueprint's settings */
margin: 0;
}

/* bootstrap checkbox form */
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 0.5em;
  margin-bottom: 0.125rem;
}
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
}
.form-check-label {
  display: inline-block;
}
/* special case for the form ion the header */
#header .form-check {
  display: inline-block;
}

/*-----------------------
Button  Styles
-----------------------*/
/* .button-group a,
.button-group button,
input.btnTxt {
background: var(--gs-green-light) url(../img/button-gradient.png) top left repeat-x;
border: 1px solid var(--gs-green-light);
font-size: 0.9em;
font-weight: bold;
text-decoration: none;
color: var(--gs-blue);
cursor: pointer;
padding: 5px 10px 5px 7px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
line-height:1.5;
font-family:Tahoma, Arial, sans-serif;
} */






/*-----------------------
Rounded corners for content
-----------------------*/

.page-footer {
padding-top: 1em;
}
/* action group above tables */
.action-group li {
  display: inline-block;
  margin-right: 10px;
}

/* internationalization */
.i18n-panel {
  margin-bottom: 5px;
}

.i18n-panel td {
  vertical-align: top;
}

/*
.overflowAuto {
    overflow: auto;
}

.italic {
    font-style: italic;
}

.padding-1em {
    padding: 1em;
}

.padding-right-25pct {
    padding-right: 25%;
}

.bottom-margin-1em {
    margin-bottom: 1em;
}

.bottom-padding-0pt5em {
    padding-bottom: 0.5em;
}

.bottom-padding-2em {
    padding-bottom: 2em;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.fontWeightBold {
    font-weight: bold;
}

.textAlignCenter {
    text-align: center;
}
*/