/* Page layout */

html,
body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* add font-size to be able to use `rem` units for sizing */
  font-size: 14px;
}

#header,
#header .wrap {
  display: flex;
  width: 100%;
  position: relative;
}

#main,
#main .wrap {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  min-width: 0;
  overflow: auto;
}

#brand {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-width: 4px;
  border-style: solid;
  border-top:0;
  border-left:0;
  border-right:0;
  border-image: var(--gs-brand-gradient) 1;
  padding: 1rem;
}

.logo {
  display: block;
  width: 100%;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/logo.svg);
}

#authentication-panel {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid var(--gs-border-color);
}

#authentication-panel button,
#authentication-panel .button {
  width: 100%;
  text-align: center;
}

#authentication-panel form,
.authentication-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#sidebar {
  position: relative;
  height: 100%;
  overflow: auto;
  background-color: var(--gs-body-bg);
  border-right: 1px solid var(--gs-border-color);
  width: 250px;
  display: flex;
  flex-direction: column;
}

#sidebar li {
  list-style: none;
}

#sidebar-content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 0.5rem;
}

#navigation {
  padding: 0 1rem;
  margin: 0;
  padding-bottom: 1rem;
}

#navigation ul {
  padding: 0;
  margin: 0;
}

.navigation-tab-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--gs-body-bg);
  padding: 0.5rem 0;
}

#sidebar-menu {
  display: none;
  font-size: 0.75rem;
  padding: 0.5rem;
}

#sidebar-close {
  font-size: 0.75rem;
  padding: 0.5rem;
}

#sidebar-close svg,
#sidebar-menu svg {
  width: 1.5em;
}
.sidebar-content-header {
  display: none;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  border-width: 4px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-image: var(--gs-brand-gradient) 1;
}
.navigation-tab li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigation-tab + .navigation-tab {
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 2px solid var(--gs-border-color);
}

#page {
  flex: 1;
  min-width: 0;
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.page-header,
.page-pane,
.page-footer {
  padding: 0 1rem;
}

.page-header {
  padding-top: 1rem;
  position: sticky;
  top: 0;
  background-color: var(--gs-body-bg);
  z-index: 15;
}

.header-panel {
  display: flex;
  align-items: center;
}

.header-panel ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.header-panel li {
  list-style: none;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--gs-body-bg);
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--gs-border-color);
}

.table-header form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header form > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background-color: var(--gs-body-bg);
  padding: 0.5rem 0;
}

#map {
  flex: 1;
  min-height: 0;
  overflow: auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
    #main,
    #main .wrap {
      flex-direction: column;
    }
    #sidebar {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    #brand {
      display: flex;
      padding: 0.5rem;
      flex-direction: row;
      gap: 0.5rem;
    }
    .logo {
      width: 125px;
      height: 30px;
      background-position: center left;
    }
    .sidebar-content-header {
      display: flex;
    }
    #sidebar-menu {
      display: block;
    }
    #sidebar-content {
      position: fixed;
      background-color: var(--gs-body-bg);
      z-index: 100;
      height: 100%;
      border-right: 1px solid var(--gs-border-color);
      width: 250px;
      max-width: 100%;
      display: none;
      box-shadow: var(--gs-box-shadow);
    }
}

/* Temporary style to hide bullets in fieldset */
form ul,
fieldset ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li,
fieldset ul li,
fieldset > * {
  margin-bottom: 0.5rem;
}

fieldset + fieldset {
  margin-top: 0.5rem;
}

fieldset {
  padding: 0.5rem 0;
}

form input[type=text],
form input[type=number],
form input[type=password],
form input[type=file],
form select,
form .select2,
form textarea  {
  max-width: 50ch;
}
/* End of temporary style to hide bullets in fieldset */

a {
  text-decoration: none;
}
a:not(.button):hover {
  text-decoration: underline;
}

/* Components derived from Bootstrap  v5.3.8 */

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
  min-height: calc(1.5em + 0.75rem + calc(var(--gs-border-width) * 2));
}

textarea,
input[type=text],
input[type=number],
input[type=password],
input[type=file] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--gs-body-bg);
  background-clip: padding-box;
  border: var(--gs-border-width) solid var(--gs-border-color);
  border-radius: var(--gs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  input[type=text],
  input[type=number],
  input[type=password],
  input[type=file],
  textarea {
    transition: none;
  }
}
input[type=file] {
  overflow: hidden;
}
input[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=file]:focus,
textarea:focus {
  color: var(--gs-body-color);
  background-color: var(--gs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
input[type=text]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=file]::placeholder {
  color: var(--gs-secondary-color);
  opacity: 1;
}
input[type=text]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
input[type=file]:disabled {
  background-color: var(--gs-secondary-bg);
  opacity: 1;
}
input[type=file]::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: var(--gs-body-color);
  background-color: var(--gs-tertiary-bg);
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: var(--gs-border-width);
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type=file]::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: var(--gs-body-color);
  background-color: var(--gs-tertiary-bg);
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: var(--gs-border-width);
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  input[type=file]::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  input[type=file]::file-selector-button {
    transition: none;
  }
}
input[type=file]:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: var(--gs-secondary-bg);
}
input[type=file]:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: var(--gs-secondary-bg);
}

/* Input checkbox */
input[type=checkbox],
input[type=radio] {
  --gs-form-check-bg: var(--gs-body-bg);
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--gs-form-check-bg);
  background-image: var(--gs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--gs-border-width) solid var(--gs-border-color);
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}
input[type=checkbox] {
  border-radius: 0.25em;
}
input[type=radio] {
  border-radius: 50%;
}
input[type=checkbox]:active,
input[type=radio]:active {
  filter: brightness(90%);
}
input[type=checkbox]:focus,
input[type=radio]:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
input[type=checkbox]:checked,
input[type=radio]:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
input:checked[type=checkbox] {
  --gs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
input:checked[type=radio] {
  --gs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
input[type=checkbox]:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  --gs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
input[type=checkbox]:disabled,
input[type=radio]:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

button, .button {
  --gs-btn-padding-x: 0.75rem;
  --gs-btn-padding-y: 0.375rem;
  --gs-btn-font-family: ;
  --gs-btn-font-size: 1rem;
  --gs-btn-font-weight: 400;
  --gs-btn-line-height: 1.5;
  --gs-btn-color: var(--gs-body-color);
  --gs-btn-bg: transparent;
  --gs-btn-border-width: var(--gs-border-width);
  --gs-btn-border-color: transparent;
  --gs-btn-border-radius: var(--gs-border-radius);
  --gs-btn-hover-border-color: transparent;
  --gs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --gs-btn-disabled-opacity: 0.65;
  --gs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--gs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--gs-btn-padding-y) var(--gs-btn-padding-x);
  font-family: var(--gs-btn-font-family);
  font-size: var(--gs-btn-font-size);
  font-weight: var(--gs-btn-font-weight);
  line-height: var(--gs-btn-line-height);
  color: var(--gs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--gs-btn-border-width) solid var(--gs-btn-border-color);
  border-radius: var(--gs-btn-border-radius);
  background-color: var(--gs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  button, .button {
    transition: none;
  }
}
button:hover, .button:hover {
  color: var(--gs-btn-hover-color);
  background-color: var(--gs-btn-hover-bg);
  border-color: var(--gs-btn-hover-border-color);
}
button:focus-visible, .button:focus-visible {
  color: var(--gs-btn-hover-color);
  background-color: var(--gs-btn-hover-bg);
  border-color: var(--gs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--gs-btn-focus-box-shadow);
}
button:active,
.button:active {
  color: var(--gs-btn-active-color);
  background-color: var(--gs-btn-active-bg);
  border-color: var(--gs-btn-active-border-color);
}
button + button:active:focus-visible, button:first-child:active:focus-visible,
.button + .button:active:focus-visible, .button:first-child:active:focus-visible {
  box-shadow: var(--gs-btn-focus-box-shadow);
}
button:disabled, fieldset:disabled button,
.button:disabled, fieldset:disabled .button {
  color: var(--gs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--gs-btn-disabled-bg);
  border-color: var(--gs-btn-disabled-border-color);
  opacity: var(--gs-btn-disabled-opacity);
}
select {
  --gs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--gs-body-bg);
  background-image: var(--gs-form-select-bg-img), var(--gs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--gs-border-width) solid var(--gs-border-color);
  border-radius: var(--gs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  select {
    transition: none;
  }
}
select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
select[multiple], select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
select:disabled {
  background-color: var(--gs-secondary-bg);
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--gs-body-color);
}

[data-bs-theme=dark] select {
  --gs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

/*----------------------------
  Customize Select2 appearance
------------------------------*/

body .select2.select2-container--default {
  width: 100% !important;
  display: block;
}

body .select2-results__options .select2-results__option {
  min-height: 2em;
}

body .select2-dropdown {
  background-color: var(--gs-body-bg);
  border-color: var(--gs-border-color);
}

body .select2-close-mask {
  background-color: var(--gs-body-bg);
}

body .select2-container--default .select2-selection--single,
body .select2-container--default .select2-selection--multiple {
  background-color: var(--gs-body-bg);
  border-color: var(--gs-border-color);
  color: var(--gs-body-color);
}

body .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--gs-body-color);
}

body .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: var(--gs-secondary-color);
}

body .select2-container--default.select2-container--focus .select2-selection--single,
body .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 var(--gs-focus-ring-width) var(--gs-focus-ring-color);
}

body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
body .select2-container--default .select2-results__option--selected {
  background-color: var(--gs-primary-bg-subtle);
  color: var(--gs-primary-text-emphasis);
}

body .select2-container--default.select2-container--disabled .select2-selection--single,
body .select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: var(--gs-secondary-bg);
}

body .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: var(--gs-primary-bg-subtle);
  border-color: var(--gs-primary-border-subtle);
  color: var(--gs-primary-text-emphasis);
}

body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border-right-color: var(--gs-primary-border-subtle);
  color: var(--gs-primary);
}

body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  background-color: var(--gs-danger-bg-subtle);
  color: var(--gs-danger-text-emphasis);
}

body .select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: var(--gs-border-color);
}

body .select2-container--default .select2-results__option--disabled {
  color: var(--gs-tertiary-color);
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;
  width: 2.25rem;
  height: 100%;
  top: 0;
  right: 0;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

[data-bs-theme=dark] body .select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

table {
  --gs-table-color-type: initial;
  --gs-table-bg-type: initial;
  --gs-table-color-state: initial;
  --gs-table-bg-state: initial;
  --gs-table-color: var(--gs-emphasis-color);
  --gs-table-bg: var(--gs-body-bg);
  --gs-table-border-color: var(--gs-border-color);
  --gs-table-accent-bg: transparent;
  --gs-table-striped-color: var(--gs-emphasis-color);
  --gs-table-striped-bg: rgba(var(--gs-primary-rgb), 0.05);
  --gs-table-active-color: var(--gs-emphasis-color);
  --gs-table-active-bg: rgba(var(--gs-emphasis-color-rgb), 0.1);
  --gs-table-hover-color: var(--gs-emphasis-color);
  --gs-table-hover-bg: rgba(var(--gs-emphasis-color-rgb), 0.075);
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: var(--gs-table-border-color);
}
table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  color: var(--gs-table-color-state, var(--gs-table-color-type, var(--gs-table-color)));
  background-color: var(--gs-table-bg);
  border-bottom-width: var(--gs-border-width);
  box-shadow: inset 0 0 0 9999px var(--gs-table-bg-state, var(--gs-table-bg-type, var(--gs-table-accent-bg)));
}
table > tbody {
  vertical-align: inherit;
}
table > thead {
  vertical-align: bottom;
}

table > tbody > tr:nth-of-type(odd) > * {
  --gs-table-color-type: var(--gs-table-striped-color);
  --gs-table-bg-type: var(--gs-table-striped-bg);
}

/* Custom components */

.action-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
.tab-row {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--gs-body-bg);
}

.tab-row ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--gs-border-color);
  margin: 0;
}

.tab-row li {
  list-style: none;
  padding: 0.25rem 1rem;
  margin-bottom: 0;
}

.tab-row a {
  text-decoration: none;
}

.tab-row li.selected a {
  color: var(--gs-primary);
}

.tab-row li.selected {
  border-bottom: 2px solid var(--gs-primary);
  font-weight: bold;
}

.tab-panel {
  padding: 1rem 0;
}

.paginator {
  border: 1px solid var(--gs-border-color);
  display: inline-flex;
  border-radius: var(--gs-border-radius);
}

.paginator a,
.paginator em {
  display: inline-block;
  padding: 0.25rem;
  text-decoration: none;
  min-width: 4ch;
  text-align: center;
}

.paginator em {
  color: var(--gs-body-color);
}

.paginator > a[disabled='disabled'] {
  color: var(--gs-secondary-color);
  pointer-events: none;
  background-color: var(--gs-secondary-bg);
  border-color: var(--gs-border-color);
}

.paginator a:not([disabled='disabled']):hover {
  z-index: 2;
  background-color: var(--gs-tertiary-bg);
}

.service-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.service-links a,
.service-links a:hover {
  text-decoration: none;
}

.link-bordered {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid var(--gs-border-color);
  border-radius: var(--gs-border-radius);
  min-width: 8rem;
  box-shadow: var(--gs-box-shadow-sm);
  transition: 0.3s box-shadow;
}

.link-bordered > * {
  padding: 0.25rem;
}

.link-bordered > *:first-child {
  border-bottom: 1px solid var(--gs-border-color);
  color: var(--gs-body-color);
}

.link-bordered:hover {
  background-color: var(--gs-tertiary-bg);
  box-shadow: var(--gs-box-shadow);
}

/*-----------------------
Welcome / Overview
-------------------------*/


.catalog-links {
  display: flex;
  max-width: 1024px;
  flex-wrap: wrap;
}

.catalog-link {
  width: 25%;
  text-align: center;
  margin-bottom: 1rem;
}

.catalog-link-content {
  text-align: center;
  border: 1px solid var(--gs-border-color);
  border-radius: var(--gs-border-radius);
  width: calc(100% - 1rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--gs-box-shadow-sm);
  height: 100%;
  margin: auto;
}

.catalog-link-content a {
  margin-bottom: 0;
  margin-top: auto;
}

@media only screen and (max-width: 1024px) {
  .catalog-link {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .catalog-link {
    width: 100%;
  }
}

#chooser .select {
  display: flex;
  min-width: 150px;
  max-width: 350px;
  gap: 0.25rem;
  align-items: center;
  padding: 0.25rem 0;
}
#chooser #refresh {
  display: inline-block;
}
#chooser .select > *:not(.icon) {
  min-width: 0;
  flex: 1;
}

#chooser .select2-container {
  width: 100% !important;
}

/* Special links */
.add-link,
.remove-link,
.warning-link,
.refresh-link,
.info-link,
.help-link,
.edit-link,
.reset-link,
.gwc-clear {
  background-color: transparent;
  background-attachment: scroll;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 2px 0 2px 20px;
}

.add-link {
  background-image: url(../img/icons/silk/add.png);
}
.remove-link {
  background-image: url(../img/icons/silk/delete.png);
}
.warning-link {
  background-image: url(../img/icons/silk/error.png);
}
.refresh-link {
  background-image: url(../img/icons/silk/arrow_refresh.png);
}
.info-link {
  background-image: url(../img/icons/silk/information.png);
}
.help-link {
  background-image: url(../img/icons/silk/help.png);
}
.edit-link {
  background-image: url(../img/icons/silk/pencil.png);
}
.reset-link {
  background-image: url(../img/icons/silk/bin.png);
}
.gwc-clear {
  background-image: url(../img/clear_cache.png);
}

/* Search in table */
.search,
input.search {
  background-image: url(../img/icons/silk/magnifier.png);
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  padding-left: 2rem;
}

/*-----------------------
Feedback Message Styles
-----------------------*/
#feedback ul {
  margin: 0;
}

#feedback li {
  padding: 0.2em 0.5em;
  margin: 0 auto 1em;
  width: 80%;
  border: 1px solid var(--gs-border-color);
  list-style-type: none;
}

.feedbackPanelINFO {
  color: var(--gs-info-text-emphasis);
  background: var(--gs-info-bg-subtle);
  padding: 0.5rem;
}
.feedbackPanelINFO a {
  color: var(--gs-info-text-emphasis);
}
.feedbackPanelINFO a:hover {
  color: var(--gs-info-text-emphasis);
}

.feedbackPanelWARNING {
  color: var(--gs-warning-text-emphasis);
  background: var(--gs-warning-bg-subtle);
  padding: 0.5rem;
}
.feedbackPanelWARNING a {
  color: var(--gs-warning-text-emphasis);
}
.feedbackPanelWARNING a:hover {
  color: var(--gs-warning-text-emphasis);
}

.feedbackPanelERROR {
  color: var(--gs-danger-text-emphasis);
  background: var(--gs-danger-bg-subtle);
  padding: 0.5rem;
}
.feedbackPanelERROR a {
  color: var(--gs-danger-text-emphasis);
}
.feedbackPanelERROR a:hover {
  color: var(--gs-danger-text-emphasis);
}

#ajaxFeedback {
  position: fixed;
  right: 20px;
  top: 10px;
}

/* button bar in forms */
.toolbar-sticky {
  position: sticky;
  bottom: 0;
  padding: 0.5rem 0;
  z-index: 100;
  background-color: var(--gs-body-bg);
}

.toolbar-sticky .form-progress {
  display: block;
  margin-top: 5px;
}

/* button groups e.g. style editor code mirror toolbar */

.button-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.button-group a:hover,
.button-group button:hover,
input.btnTxt:hover {
  background-color: var(--gs-tertiary-bg);
  color: var(--gs-body-color);
}

.button-group .button-fullscreen span {
  background: url(../img/icons/silk/arrow_out.png) no-repeat;
  display: block;
}

.button-group .button-undo span {
  background: url(../img/icons/silk/arrow_undo.png) no-repeat;
  display: block;
}
.button-group .button-redo span {
  background: url(../img/icons/silk/arrow_redo.png) no-repeat;
  display: block;
}
.button-group .button-goto span {
  background: url(../img/icons/silk/xhtml_go.png) no-repeat;
  display: block;
}
.button-group .button-reformat span {
  background: url(../img/icons/silk/text_align_right.png) no-repeat;
  display: block;
}

.button-group .button-find span {
  background: url(../img/icons/silk/find.png) no-repeat;
  display: block;
}

.button-group .button-find-next span {
  background: url(../img/icons/silk/find_next.png) no-repeat;
  display: block;
}

.button-group .button-replace span {
  background: url(../img/icons/silk/text_replace.png) no-repeat;
  display: block;
}

.button-group .button-picture span {
  background: url(../img/icons/silk/photo.png) no-repeat;
  display: block;
}

.button-group .button-color span {
  background: url(../img/icons/silk/palette.png) no-repeat;
  display: block;
}

.button-group #cm_font_size,
.button-group #cm_editor_heigth  {
  max-width: 100px;
}

/*--------------------------
choiceItem, choiceList items
---------------------------*/
.choiceList > *,
.choiceItem {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.choiceList > * input,
.choiceItem input {
  margin-left: -1.5em;
  float: left;
  margin-top: 0.25em;
}
.choiceItem input[disabled] ~ label,
.choiceItem input:disabled ~ label,
.choiceList input:disabled ~ label {
  cursor: default;
  opacity: 0.5;
}
.choiceItem label,
.choiceItem label,
.choiceList > * label {
  display: inline;
}

label ~ .choiceItem {
  display: inline-block;
}

/*--------------
Style editor
--------------*/

/* Fullscreen */
#fullscreen-div {
  display: block;
  position: fixed;
  z-index: 20;
  top: 1.5rem;
  right: 1.5rem;
}
#fullscreen-div img {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  background-image: url(../img/icons/silk/arrow_out.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#page.fullscreen {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  padding: 0px;
  border-right: 10px;
  margin: 0px !important;
  overflow-y: hidden;
  z-index: 9;
  background: var(--gs-body-bg);
  display: flex;
  flex-direction: column;
}

#page.fullscreen .page-pane {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

#fullscreen-div img.fullscreen-image-in {
  background-image: url(../img/icons/silk/arrow_inwards.png);
}
.fullscreen #header-title {
   font-size: 1.5rem;
   font-weight: bold;
}
.fullscreen #header-description {
   display: none;
}
.fullscreen #styleForm {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex: 1;
  min-height: 0;
}
.fullscreen #styleForm #style-context {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  width: 50%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.fullscreen #styleForm #style-context .tab-panel {
  flex: 1;
  min-height: 0;
  overflow: auto;
  padding: 0;
}
.fullscreen #styleForm #style-editor {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  width: 50%;
  padding: 1rem;
  height: 100%;
}

#page.fullscreen .table-header,
#page.fullscreen .tab-row {
  top: 0 !important;
}

/* Style editor code container */
.codemirror {
  border: 1px solid var(--gs-border-color);
  padding-bottom: 3px;
}



/* Palette theme */
.palette-theme-default {
  display: block;
}
.palette-theme-default .palette-header {
  display: block;
  text-align: center;
  padding: 0.5rem 0.25rem;
  font-family: var(--gs-body-font-family);
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--gs-primary-text-emphasis);
  background-color: var(--gs-info-bg-subtle);
  border-top: var(--gs-border-width) var(--gs-border-style) var(--gs-info-border-subtle);
  border-left: var(--gs-border-width) var(--gs-border-style) var(--gs-info-border-subtle);
  border-right: var(--gs-border-width) var(--gs-border-style) var(--gs-info-border-subtle);
  border-bottom: 0;
  border-top-left-radius: var(--gs-border-radius);
  border-top-right-radius: var(--gs-border-radius);
}

.palette-theme-default .palette-choices select,
.palette-theme-default .palette-selected select {
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  border: var(--gs-border-width) var(--gs-border-style) var(--gs-border-color);
  border-radius: var(--gs-border-radius);
  padding: 0.5rem;
  font-family: var(--gs-body-font-family);
  color: var(--gs-body-color);
  background-color: var(--gs-body-bg);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.palette-theme-default .palette-buttons button {
  display: block;
  padding: 0.25rem;
  margin: 0.25rem auto;
  cursor: pointer;
  border: var(--gs-border-width) var(--gs-border-style) var(--gs-border-color);
  border-radius: var(--gs-border-radius-sm);
  background-color: var(--gs-tertiary-bg);
  transition: all 0.2s ease-in-out;
}

.palette-theme-default .palette-buttons button div {
  width: auto;
  height: auto;
}
.palette-theme-default .palette-buttons button div:after {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
.palette-theme-default .palette-buttons button:hover {
  background-color: var(--gs-primary-bg-subtle);
  border-color: var(--gs-primary);
}

form .palette-choices,
form .palette-selected {
  max-width: 50ch;
}
/* logs textarea */
#logs {
  height: calc(100vh - 14.5em);
}
#dumpContent {
  height: calc(100vh - 17.5em);
}
