/*-----------------------
Targeted Styles
-----------------------*/
.module-info {
margin: 1em 0;
}

.module-header {
margin: 0 0 0.75em;
}

.module-header h2 {
margin: 0 20px 0 0;
float: left;
}

.status-bar {
margin: 1.2em 0 0;
float: left;
width: 200px;
height: 10px;
background-color: #e8e6e6;
border: 1px solid #555;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.status-bar span {
display: block;
background-image: url(../img/status-bar-bg.png);
background-repeat: no-repeat;
height: 10px;
overflow: hidden;
text-indent: -9999em;
}

.mini-bar {
height: 2px;
width: 50px;
background-color: #e8e6e6;
border: 1px solid #555;
}

.mini-bar span {
display: block;
background-image: url(../img/status-bar-bg.png);
background-repeat: no-repeat;
height: 2px;
overflow: hidden;
text-indent: -9999em;
}

.common-mime-types,
.uncommon-mime-types {
float: left;
margin: 0;
}

.common-mime-types dd,
.uncommon-mime-types dd {
margin: 0.5em 0;
border: 1px solid #edf0ed;
background: #fbfbfb;
}

.common-mime-types ul,
.uncommon-mime-types ul {
width: 10em;
float: left;
margin: 0;
}

.uncommon-mime-types ul {
margin: 0 -1px 0 0;
border: 1px solid #edf0ed;
border-width: 0 1px 0 0;
}

.uncommon-mime-types {
margin: 0 0 0 3em;
}

.common-mime-types li,
.uncommon-mime-types li {
display: inline;
}

.common-mime-types li a,
.uncommon-mime-types li a {
display: block;
padding: 0.2em 1em 0.2em 0.5em;
}

.common-mime-types li a:hover,
.uncommon-mime-types li a:hover {
background: #fff;
}

.date li {
list-style-type: none;
display: inline;
}

.date li:nth-child(3){ 
padding-right: 10px;
}

/* Controls underneath native bounding box eg. calculate from data, from CRS */
.bounding-box-controls {
  margin-bottom: 1em;
}

.bounding-box-controls a {
  display: block;
}

/* Page */

div.progress-bar {
  -moz-border-radius: 5px;
  background-color:#E8E6E6;
  border:1px solid #555555;
  float:none;
  height:16px;
  margin:1.2em auto;
  width:50%;
}

div.progress-bar span.bar {
  background-image: url(../img/status-bar-bg.png);
  background-repeat:repeat-x;
  display:block;
  height:16px;
  overflow:hidden;
  text-indent:-9999em;
}


/* Data page styles */
span.command {
  margin-left: 2px;
  font-style: italic;
}

span.unconfiguredLayer {
  font-style: italic;
}

/*-----------
Add/remove icons for add/remove links
-------------*/

legend a.help-link {
  height: 16px;
  float: right;
}

.computeLink { 
  display: block;
  margin-bottom: 1em;
}

/*----------------
  Page header
-----------------*/


.page-header ul {
  margin: 0.2em; /* override blueprint's settings for unordered lists */
  list-style-type: none;
}

.page-footer ul {
  margin: 0.2em; /* override blueprint's settings for unordered lists */
  list-style-type: none;
}


/*-------------
  Customize Wicket's autocomplete
  -------------*/

div.wicket-aa-container {
    z-index: 110;
}
div.wicket-aa {
    background-color:white;
    border:1px solid #CCCCCC;
    color:black;
}
div.wicket-aa ul {
  list-style: none outside none;
  margin:0pt;
   padding:5px;
}
div.wicket-aa ul li.selected {
    background-color:#CCCCCC;
}

/*----------------------------
  Customize Select2 appearance
------------------------------*/
.select2-container .select2-selection--single {
  height: 19px;
  margin-top: -2px;
} 
.select2-container--default .select2-selection--single {
   border: 1px solid #aaa;
   border-radius: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
   border-color: #000 transparent;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
   top: -2px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
   border-color: #000 transparent transparent transparent;
}
.select2-results__option {
   color: black;
   padding: 1px;
}
.select2-container--default .select2-results > .select2-results__options {
   max-height: 300px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
   padding-left: 4px;   
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: black;
  line-height: 19px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 18px;
}

li.select2-results__option {
  max-width: 100%;
  overflow: hidden;
  /*Altered two below to make word wrap work */
  word-wrap: break-word !important;
  white-space: normal;
  /* show empty option properly */
  min-height:18px;
}

.fullscreen {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  padding: 0px;
  border-right: 10px;
  margin: 0px !important;
  overflow-y: hidden;
  width: auto;
  z-index: 9;
}

#fullscreen-div {
  float: right;
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  width: 16px;
  height: 16px;
  padding: 4px 0px;
}

#fullscreen-div img {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16px;
  height: 16px; /* Height of new image */
  padding-left: 16px; /* Equal to width of new image */
  background: url(../img/icons/silk/arrow_out.png) no-repeat;
}

.fullscreen-image-in {
  background: url(../img/icons/silk/arrow_inwards.png) no-repeat !important;
}

.fullscreen #header-title {
   font-size: 12px;
   font-weight: bold;
}

.fullscreen #header-description {
   display: none;
}

.document-hidden {
  overflow: hidden;
}

.page-pane-fullscreen {
  padding-right: 10px;
  height: 100%;
}

.horizontal-form {
  padding-bottom: 5px;
}

.horizontal-form input, .horizontal-form label {
   display: inline;
}

.horizontal-form li {
   display: inline;
   padding-right: 30px;
   height: 100%;
}

.fullscreen #styleForm {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
  }

.fullscreen #styleForm #style-context {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 50%;
    height: 100%;
    padding: 10px;
  }

.fullscreen #styleForm #style-context .tab-panel {
  overflow: auto;
  height: calc(100vh - 200px);
}

.fullscreen #styleForm #style-editor {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 50%;
    padding: 10px;
    height: 100%;
  }

.fullscreen #cm_editor_heigth {
   enabled: false;
}

.largeTable table {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    width: 100em;
    padding: 0.5em 0em;
    display: block;
}

.genericToolbar * {
   margin: 0px 0.2em;
}

.traceback {
    padding-top: 16px;
    white-space: pre;
    font-family: monospace;
}

.default-node-info {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 28px;
    width: auto;
    padding: 1px;
    border: 1px solid #0076a1;
    font-weight: bold;
    background-color: #dadada;
    color: #0076a1;
}

.sec-removal-dialog {
   padding: 2em;
}

.sec-removal-dialog h3 {
   margin-left: auto;
   max-width: 90%;
}

.sec-removal-dialog span {
   color: #000;
}

.sec-removal-dialog ul ul {
   padding-left: 0.75em;
}

.gwc-missing-gridset {
    color: red;
    text-decoration: line-through;
}

.gwc-remove-link {
    position:absolute;
    right:0;
    text-align:right;
}

.codemirror {
    border: 1px solid black;
    padding-bottom: 3px;
}

.srs-demo-map-container {
    width:512px;
    height:256px;
    background-color:white;
}

.reproj-console-geom {
    height: 2em;
    width: 55em;
}

.image-chooser-img {
    display: block;
    float:right;
    max-width: 35px;
    max-height: 35px;
}

.reload-warning {
  color: black;
  margin: 8px;
}

.process-builder {
  margin: 1em;
}

#processAccessMode {
    display: block;
    padding-top: 0.5em;
}

#processAccessMode input {
    display: block;
    float: left;
    clear: left;
    padding-top :0.5em;
    margin-bottom: 0.5em;
}

#processAccessMode label {
    clear: right;
    margin-bottom: 0.5em;
}

.features-templating-info-fieldset {
    margin-bottom: 0px;
    margin-right: 5%;
    width: 45%;
}

.features-templating-rule-fieldset-1 {
    margin-top: 5px;
    width: 65%;
}

.features-templating-rule-fieldset-2 {
    margin-top: 10px;
    width: 35%;
}

.features-templating-rule-save {
    color: #0076a1;
    font-family: Tahoma;
    font-size: 10.8px;
    font-weight: bold;
}