<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="s3GeotiffCoverageStorePanel" class="org.geoserver.web.data.resource.DataStorePanelInfo">
        <property name="id" value="s3geotiff"/>
        <property name="factoryClass" value="org.geotools.s3.geotiff.S3GeoTiffFormat"/>
        <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
        <property name="icon" value="img/icons/geosilk/page_white_raster.png" />
        <property name="componentClass" value="org.geoserver.s3.ui.S3InfoPanel"/>
    </bean>

</beans>