<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="exceptionThrowingResource" class="org.geoserver.rest.ExceptionThrowingResource"/>
    <bean id="gsUserResource" class="org.geoserver.rest.GsUserResource"/>
    <bean id="testMapping" class="org.geoserver.rest.RESTMapping">
      <property name="routes">
        <map>
          <entry>
            <key><value>/exception</value></key>
            <value>exceptionThrowingResource</value>
          </entry>
          <entry>
            <key><value>/gsuser</value></key>
            <value>gsUserResource</value>
          </entry>
        </map>
      </property>
    </bean>
    
    <bean id="testCallback" class="org.geoserver.rest.RESTDispatcherCallbackTest$TestCallback"/>
</beans>
