<?xml version="1.0" encoding="UTF-8"?>
<!--
 (c) 2016 Open Source Geospatial Foundation - all rights reserved
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!--
	  The Spring Batch infrastructure (formerly backup-batch-context.xml) and the backupJob / restoreJob
	  graphs (formerly the <batch:job> definitions here) are now defined in Java configuration under
	  org.geoserver.backuprestore.config; component-scan activates them. This removes the deprecated Spring
	  Batch XML namespace and the need for the TolerantMapJobRegistry-via-XML wiring.
	-->
	<context:component-scan base-package="org.geoserver.backuprestore.config" />

	<bean id="backupConfigurationLockCallback" class="org.geoserver.backuprestore.BackupRestoreConfigurationLockCallback">
		<constructor-arg ref="configurationLock"/>
	</bean>

	<bean id="backupFacade" class="org.geoserver.backuprestore.Backup">
		<constructor-arg ref="catalog" />
		<constructor-arg ref="resourceLoader" />
	</bean>

	<!-- Backup/Restore Tasklets: specific tasklets invoked as additional steps of the main Jobs -->
	<bean id="catalogBackupTasklet" class="org.geoserver.backuprestore.tasklet.CatalogBackupRestoreTasklet">
		<constructor-arg ref="backupFacade" />
		<!-- milliseconds: 10 minutes timeout for the tasklet -->
		<property name="timeout" value="600000"/>
	</bean>

	<bean id="catalogSecurityManagerTasklet" class="org.geoserver.backuprestore.tasklet.CatalogSecurityManagerTasklet">
		<constructor-arg ref="backupFacade" />
		<!-- milliseconds: 10 minutes timeout for the tasklet -->
		<property name="timeout" value="600000"/>
	</bean>

	<!-- extension point for generic backup / restore tasklets -->
	<bean id="genericTasklet" class="org.geoserver.backuprestore.tasklet.GenericTasklet">
		<constructor-arg ref="backupFacade" />
		<property name="timeout" value="600000"/>
	</bean>

	<!-- Main Backup Job listeners -->
	<bean id="backupJobExecutionListener" class="org.geoserver.backuprestore.listener.BackupJobExecutionListener">
		<constructor-arg ref="backupFacade"/>
	</bean>
	<bean id="genericBackupJobExecutionListener" class="org.geoserver.backuprestore.listener.GenericListenersExecutor">
		<constructor-arg value="true"/>
	</bean>

	<!-- CatalogAdditionalResourcesWriter extensions: triggered by the CatalogWriter -->
	<bean id="styleInfoAdditionalResourceWriter" class="org.geoserver.backuprestore.writer.StyleInfoAdditionalResourceWriter" />
	<bean id="resourceInfoAdditionalResourceWriter" class="org.geoserver.backuprestore.writer.ResourceInfoAdditionalResourceWriter" />

	<bean id="finalizeBackupTasklet" class="org.geoserver.backuprestore.tasklet.FinalizeBackupTasklet">
		<constructor-arg ref="backupFacade" />
		<property name="timeout" value="600000"/>
	</bean>
	<bean id="finalizeRestoreTasklet" class="org.geoserver.backuprestore.tasklet.FinalizeRestoreTasklet">
		<constructor-arg ref="backupFacade" />
		<property name="timeout" value="600000"/>
	</bean>
	<!-- PROTOTYPE: pre-flight restore validation step (BK_FAIL_ON_INVALID) -->
	<bean id="validateRestoreTasklet" class="org.geoserver.backuprestore.tasklet.ValidateRestoreTasklet">
		<constructor-arg ref="backupFacade" />
		<property name="timeout" value="600000"/>
	</bean>

	<!-- Main Restore Job listeners -->
	<bean id="restoreJobExecutionListener" class="org.geoserver.backuprestore.listener.RestoreJobExecutionListener">
		<constructor-arg ref="backupFacade"/>
	</bean>
	<bean id="genericRestoreJobExecutionListener" class="org.geoserver.backuprestore.listener.GenericListenersExecutor">
		<constructor-arg value="false"/>
	</bean>
	<!-- promotes properties set on Steps (restore.catalog) to Job Context scope -->
	<bean id="restoreExecutionPromotionListener"
			class="org.springframework.batch.core.listener.ExecutionContextPromotionListener">
		<property name="keys" value="restore.catalog"/>
	</bean>

</beans>
