<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="javascriptRestletMapping" 
        class="org.geoserver.rest.RESTMapping">
        <property name="routes">
            <map>
                <entry>
                    <key><value>/script</value></key>
                    <value>javascriptRestlet</value>
                </entry>
                <entry>
                    <key><value>/script/{script}</value></key>
                    <value>javascriptRestlet</value>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="javascriptRestlet" 
        class="org.geoserver.rest.javascript.JavaScriptRestlet">
        <property name="resourceLoader" ref="resourceLoader"/>
        <property name="rootPath"><value>scripts</value></property>
        <property name="catalog" ref="catalog"/>
    </bean>

    <bean id="rhinoConsole" class="org.geoserver.web.DemoLinkInfo">
        <property name="id" value="rhinoConsole"/>
        <property name="titleKey" value="RhinoConsolePage.title"/>
        <property name="descriptionKey" value="RhinoConsolePage.shortDescription"/>
        <property name="componentClass" value="org.geoserver.web.scriptlet.RhinoConsolePage"/>
    </bean>
</beans>
