<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - 2015 Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <bean id="inspireWmsExtendedCapsProvider" class="org.geoserver.inspire.wms.WMSExtendedCapabilitiesProvider">
  </bean>
  
  <bean id="inspireWfsExtendedCapsProvider" class="org.geoserver.inspire.wfs.WFSExtendedCapabilitiesProvider">
  </bean>
  
  <bean id="inspireWcsExtendedCapsProvider" class="org.geoserver.inspire.wcs.WCSExtendedCapabilitiesProvider">
  </bean>

  <bean id="inspireWmtsExtendedCapsProvider" class="org.geoserver.inspire.wmts.WMTSExtendedCapabilitiesProvider">
    <constructor-arg ref="geoServer"/>
  </bean>
  
  <bean id="inspireWmsAdminPanel" class="org.geoserver.web.services.AdminPagePanelInfo">
      <description>This bean adds the necessary form fields to Geoserver admin interface</description>
    <property name="id" value="inspireWmsAdminPanel"/>
    <property name="titleKey" value="inspire"/>
    <property name="componentClass" value="org.geoserver.inspire.web.InspireAdminPanel"/>
    <property name="serviceClass" value="org.geoserver.wms.WMSInfo"/>
  </bean>
  <bean id="inspireWfsAdminPanel" class="org.geoserver.web.services.AdminPagePanelInfo">
      <description>This bean adds the necessary form fields to Geoserver admin interface</description>
    <property name="id" value="inspireWfsAdminPanel"/>
    <property name="titleKey" value="inspire"/>
    <property name="componentClass" value="org.geoserver.inspire.web.InspireAdminPanel"/>
    <property name="serviceClass" value="org.geoserver.wfs.WFSInfo"/>
  </bean>
  <bean id="inspireWcsAdminPanel" class="org.geoserver.web.services.AdminPagePanelInfo">
      <description>This bean adds the necessary form fields to Geoserver admin interface</description>
    <property name="id" value="inspireWcsAdminPanel"/>
    <property name="titleKey" value="inspire"/>
    <property name="componentClass" value="org.geoserver.inspire.web.InspireAdminPanel"/>
    <property name="serviceClass" value="org.geoserver.wcs.WCSInfo"/>
  </bean>
  <bean id="inspireWmtsAdminPanel" class="org.geoserver.web.services.AdminPagePanelInfo">
    <description>This bean adds the necessary form fields to Geoserver admin interface</description>
    <property name="id" value="inspireWmtsAdminPanel"/>
    <property name="titleKey" value="inspire"/>
    <property name="componentClass" value="org.geoserver.inspire.web.InspireAdminPanel"/>
    <property name="serviceClass" value="org.geoserver.gwc.wmts.WMTSInfo"/>
  </bean>

  <bean id="inspireGridSetLoader" class="org.geoserver.inspire.wmts.InspireGridSetLoader">
  </bean>
</beans>
