<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="wpsNetCDF3PPIO" class="org.geoserver.wps.ppio.BaseNetCDFPPIO.NetCDF3PPIO"/>
    <bean id="wpsNetCDF4PPIO" class="org.geoserver.wps.ppio.BaseNetCDFPPIO.NetCDF4PPIO"/>
</beans>
