<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="ftpConfigLoader" class="org.geoserver.ftp.FTPConfigLoader">
		<description>
			Loads and saves the FTP server configuration to the
			ftp.xml file in the GeoServer data directory
		</description>
		<constructor-arg ref="resourceLoader">
			<description>Used to find out the geoserver data directory where to
				store/load the ftp.xml config file</description>
		</constructor-arg>
	</bean>

	<bean id="ftpCallbackFinder" class="org.geoserver.ftp.FtpLetFinder">
	</bean>

	<bean id="gsFtpUserManager" class="org.geoserver.ftp.GSFTPUserManager"
		depends-on="geoServer">
		<constructor-arg ref="dataDirectory"/>
        <property name="authenticationManager" ref="authenticationManager"/>
	</bean>


	<bean id="ftpServerManager" class="org.geoserver.ftp.FTPServerManager">
		<constructor-arg ref="gsFtpUserManager" />
		<constructor-arg ref="ftpCallbackFinder" />
		<constructor-arg ref="ftpConfigLoader" />
	</bean>
</beans>
