<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="GWCCapabilitiesHomePageProvider" class="org.geoserver.gwc.web.GWCCapabilitiesHomePageProvider">
    <constructor-arg ref="gwcFacade"/>
  </bean>

  <bean id="gwcSettingsMenuPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="gwc.settings"/>
    <property name="titleKey" value="geowebcache"/>
    <property name="descriptionKey" value="GWCSettingsPage.description"/>
    <property name="componentClass" value="org.geoserver.gwc.web.GWCSettingsPage"/>
    <property name="category" ref="settingsCategory"/>
    <property name="icon" value="geowebcache-16.png"/>
    <property name="order" value="35"/>
  </bean>
  
  <bean id="cachedLayersMenuPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="cachedLayers"/>
    <property name="titleKey" value="CachedLayersPage.title"/>
    <property name="descriptionKey" value="CachedLayersPage.description"/>
    <property name="componentClass" value="org.geoserver.gwc.web.layer.CachedLayersPage"/>
    <property name="category" ref="dataCategory"/>
    <property name="icon" value="../geowebcache-16.png"/>
    <property name="order" value="30"/>
  </bean>
  
  <bean id="layerCacheEditTabPanelInfo" class="org.geoserver.gwc.web.layer.LayerEditCacheOptionsTabPanelInfo">
    <property name="id" value="layerCacheEditTabPanelInfo"/>
    <property name="titleKey" value="LayerCacheOptionsTabPanel.title"/>
    <property name="descriptionKey" value="LayerCacheOptionsTabPanel.shortDescription"/>
    <property name="componentClass" value="org.geoserver.gwc.web.layer.LayerCacheOptionsTabPanel"/>
    <property name="order" value="200"/>
  </bean>
    
  <bean id="layerGroupCacheEditPanelInfo" class="org.geoserver.web.publish.LayerGroupConfigurationPanelInfo">
    <property name="id" value="layerGroupCacheEditTabPanelInfo"/>
    <property name="titleKey" value="LayerGroupCacheOptionsPanel.title"/>
    <property name="descriptionKey" value="LayerGroupCacheOptionsPanel.shortDescription"/>
    <property name="componentClass" value="org.geoserver.gwc.web.layer.LayerGroupCacheOptionsPanel"/>
  </bean>
</beans>
