<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="hzHomePageContentProvider" 
          class="org.geoserver.cluster.hazelcast.web.HazelcastHomePageContentProvider">
      <constructor-arg ref="hzCluster"/>
    </bean>

   <bean id="hzSynchronizerInitializer" 
         class="org.geoserver.cluster.hazelcast.HzSynchronizerInitializer">
      <property name="cluster" ref="hzCluster"/>
   </bean>
   
   <!-- override the default one -->
   <bean id="hzResourceNotificationDispatcher"
   		class="org.geoserver.cluster.hazelcast.HzResourceNotificationDispatcher" >
   </bean>
   <alias name="hzResourceNotificationDispatcher" alias="resourceNotificationDispatcher" />
   
   <bean id="hzCluster" 
         class="org.geoserver.cluster.hazelcast.HzCluster">
      <property name="resourceStore" ref="resourceStore"/>
      <property name="rawCatalog" ref="rawCatalog"/>
      <property name="resourceNotificationDispatcher" ref="hzResourceNotificationDispatcher"/>
   </bean>

<!--    <bean id="hzCacheProvider" class="org.geoserver.cluster.hazelcast.HzCacheProvider">
      <constructor-arg ref="xstreamPersisterFactory"/>
   </bean> 
   
   <bean id="hzExtensionFilter" class="org.geoserver.cluster.hazelcast.HzExtensionFilter">
   </bean> -->

   <bean id="hzLockProvider" class="org.geoserver.cluster.hazelcast.HzLockProvider">
      <property name="cluster" ref="hzCluster"/>
   </bean>
   
   <!-- turn of default webui redirect -->
   <bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer" >
        <property name="properties"> 
            <props>
                <prop key="webApplication.defaultIsRedirect">false</prop>
            </props>
        </property>
    </bean>    
   
</beans>
