html {
  cursor: text;
}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

pre.code, .editbox {
  color: #666666;
}

.editbox p {
  margin: 0;
}

span.csharp-punctuation {
  color: green;
}

span.csharp-operator {
  color: purple;
}

span.csharp-keyword {
  color: blue;
}

span.csharp-atom {
  color: brown;
}

span.csharp-variable {
  color: black;
}

span.csharp-variabledef {
  color: #0000FF;
}

span.csharp-localvariable {
  color: #004499;
}

span.csharp-property {
  color: black;
}

span.csharp-comment {
  color: green;
}

span.csharp-string {
  color: red;
}

