<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - 2016 Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean class="org.geoserver.platform.ModuleStatusImpl">
    <constructor-arg index="0" value="gs-web-wfs"/>
    <constructor-arg index="1" value="GeoServer Web UI Web Feature Service"/>
  </bean>
  <bean id="wfsServicePage" class="org.geoserver.web.services.ServiceMenuPageInfo">
    <property name="id" value="wfs"/>
    <property name="titleKey" value="wfs.title"/>
    <property name="descriptionKey" value="wfs.description"/>
    <property name="componentClass" value="org.geoserver.wfs.web.WFSAdminPage"/>
    <property name="icon" value="server_vector.png"/>
    <property name="category" ref="servicesCategory"/>
    <property name="serviceClass" value="org.geoserver.wfs.WFSInfo"/>
  </bean>
    
  <bean id="wfsLayerConfig" class="org.geoserver.web.publish.LayerConfigurationPanelInfo">
    <property name="id" value="wfsLayerConfig"/>
    <property name="titleKey" value="data.resource.config.wfs"/>
    <property name="componentClass" value="org.geoserver.wfs.web.publish.WFSLayerConfig"/>
    <property name="supportedTypes">
      <list>
        <value>org.geoserver.catalog.FeatureTypeInfo</value>
      </list>
    </property>
  </bean>
</beans>
