ul.links-above-table {
	list-style-type: none;

 }

.copy-link {
	background: transparent url(img/copy.png) scroll no-repeat left center;
	padding: 2px 0px 2px 20px;
}

.play-link {
	background: transparent url(img/play.png) scroll no-repeat left center;
	padding: 2px 0px 2px 20px;
}
.stop-link {
	background: transparent url(img/stop.png) scroll no-repeat left center;
	padding: 2px 0px 2px 20px;
}

.refresh-link {
	background: transparent url(img/refresh.png) scroll no-repeat left center;
	padding: 2px 0px 2px 20px;
}

.inline {
	display: inline !important;
}

.important {
	color: #a500a5;
	font-weight: bold;	
}

.notvalidated a {
	color: #8080a0;
	font-style: italic;
}

h4 {
    margin-top: 1.25em;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 