<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
    <bean id="ysldHandler" class="org.geoserver.ysld.YsldHandler">
       <constructor-arg ref="gwcZoomContextFinder"/>
       <constructor-arg ref="ysldUomMapper"/>
    </bean>

    <bean id="ysldUomMapper" class="org.geotools.ysld.UomMapper">
    </bean>

    <bean id="gwcZoomContextFinder" class="org.geoserver.ysld.GWCZoomContextFinder">
      <constructor-arg ref="gwcGridSetBroker"/>
    </bean>
    
    <!--<bean class="org.geoserver.web.HeaderContribution">-->
        <!--<property name="scope" value="com.boundlessgeo.ysld.YsldHandler"/>-->
        <!--<property name="javaScriptFilename" value="yaml.js"/>-->
    <!--</bean>-->
</beans>
