<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2014 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <bean id="SiteMapLinkHomePageProvider" class="org.geoserver.geosearch.web.SiteMapLinkHomePageProvider">
    <description>Puts a link to sitemap.xml in the home page</description>
  </bean>
  
  <!-- GeoSearch KML decorators -->
  <bean id="kmlRelativeLinksDecorator" class="org.geoserver.kml.decorator.FolderRelativeLinksDecoratorFactory"/>
  <bean id="kmlSelfLinksDecorator" class="org.geoserver.kml.decorator.PlacemarkSelfLinkDecoratorFactory"/>
  
  <!-- Add configuration section to Wicket UI -->
  <bean id="geosearchLayerConfig" class="org.geoserver.web.data.resource.ResourceConfigurationPanelInfo">
    <property name="id" value="geosearchLayerConfig"/>
    <property name="titleKey" value="publish.layer.config.geosearch"/>
    <property name="componentClass" value="org.geoserver.geosearch.web.GeoSearchResourceConfigPanel"/>
    <property name="supportedTypes">
      <list>
        <value>org.geoserver.catalog.FeatureTypeInfo</value>
        <value>org.geoserver.catalog.CoverageInfo</value>
      </list>
    </property>
  </bean>

  <!-- REST end points and handlers -->
  
  <bean id="geosearchDispatcherMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true"/>
    <property name="mappings">
        <props>
            <prop key="/geosearch">restWrapper</prop>
            <prop key="/geosearch/**">restWrapper</prop>
        </props>
    </property>
  </bean>
  
  <bean id="geosearchMapping" class="org.geoserver.rest.RESTMapping">
  <property name="routes">
    <map>
       <entry>
         <key><value>/sitemap.xml</value></key>
         <value>geosearchSitemapfinder</value>
       </entry>
       <entry>
         <key><value>/{layer}.{format}</value></key>
         <value>geosearchLayerfinder</value>
       </entry>
     </map>
  </property>
  </bean>

  <bean id="geosearchSitemapfinder" class="org.geoserver.geosearch.rest.SiteMapFinder">
    <constructor-arg ref="catalog"/>
  </bean>
  
  <bean id="geosearchLayerfinder" class="org.geoserver.geosearch.rest.GeoSearchLayerFinder">
    <constructor-arg ref="geoServer"/>
    <constructor-arg ref="KMLEncoder"/>
  </bean>
  
</beans>
