<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"> 

<beans>
  
  <!-- spatialite datastore initializer -->
  <bean id="spatialiteDataStoreFactoryInitializer" 
    class="org.geoserver.spatialite.SpatiaLiteDataStoreFactoryInitializer">
    <property name="resourceLoader" ref="resourceLoader"/>
  </bean>

  <bean id="spatialiteSample" class="org.geoserver.spatialite.SpatialiteSample" />
</beans>
