<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd" 
    default-autowire="byName">

	<bean id="monitorKafkaInitializer" class="org.geoserver.monitor.kafka.KafkaInitializer">
		<constructor-arg ref="monitor"/>
	</bean>

	<bean id="kafkaMonitorDAO" class="org.geoserver.monitor.kafka.KafkaDAO"/>


	<bean id="MonitorKafkaExtension"
		class="org.geoserver.platform.ModuleStatusImpl">
		<property name="module" value="gs-monitor-kafka" />
		<property name="name" value="Monitor Kafka Extension" />
		<property name="component" value="Monitor Kafka plugin" />
		<property name="available" value="true" />
		<property name="enabled" value="true" />
        <property name="category" value="COMMUNITY"/>
	</bean>
</beans>
