<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2016 Open Source Geospatial Foundation. All rights reserved. 
	This code is licensed under the GPL 2.0 license, available at the root application 
	directory. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security" xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.0.4.xsd
          http://www.springframework.org/schema/security/oauth2
          http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd">

	<!-- Enable auto-wiring -->
	<context:annotation-config />

	<!-- Scan for auto-wiring classes in spring saml packages -->
	<context:component-scan base-package="org.geoserver.security.oauth2" />

</beans>
