<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (c) 2001 - 2013 OpenPlans - www.openplans.org. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd.spring-beans.dtd">

<beans>
  <bean id="cssDemo" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="cssDemo"/>
    <property name="titleKey" value="CssDemoPage.title"/>
    <property name="descriptionKey" value="CssDemoPage.description"/>
    <property name="componentClass" value="org.geoserver.community.css.web.CssDemoPage"/>
  </bean>
</beans>
