<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- The control flow callback -->
    <bean id="controlFlowCallback" class="org.geoserver.flow.ControlFlowCallback"/>


    <!-- IP blacklist filter -->
    <bean id="ipBlacklistFilter" class="org.geoserver.flow.controller.IpBlacklistFilter" />
	
</beans>
