<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (c) 2013 OpenPlans - www.openplans.org. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  
	<bean id="wmsEoStyleCatalogListener" class="org.geoserver.wms.eo.EoStyleCatalogListener">
		<constructor-arg ref="catalog" />
		<constructor-arg ref="resourceLoader" />
	</bean>

	<bean id="wmsGetFeatureInfoXML" class="org.geoserver.wms.eo.XMLFeatureInfoOutputFormat">
		<constructor-arg ref="wms" />
	</bean>

  	<bean id="wmsEoWebMenuCategory" class="org.geoserver.web.Category">
		<property name="nameKey" value="category.wmseo" />
    	<property name="order" value="210" />
	</bean>

  	<bean id="wmsEoCreateGroupMenuPage" class="org.geoserver.web.MenuPageInfo">
    	<property name="id" value="wmsEoCreateGroupMenuPage" />
    	<property name="titleKey" value="wmsEoCreateGroupMenuPage.title" />
    	<property name="descriptionKey" value="wmsEoCreateGroupMenuPage.description" />
    	<property name="componentClass" value="org.geoserver.wms.eo.web.WmsEoCreateGroupPage" />
    	<property name="category" ref="wmsEoWebMenuCategory" />
    	<property name="icon" value="../../../web/img/icons/silk/layers.png" />
    	<property name="order" value="10" />
    	<property name="authorizer" ref="workspaceAdminAuthorizer"/>
  	</bean>

  	<bean id="wmsEoAddLayerMenuPage" class="org.geoserver.web.MenuPageInfo">
    	<property name="id" value="wmsEoAddLayerMenuPage" />
    	<property name="titleKey" value="wmsEoAddLayerMenuPage.title" />
    	<property name="descriptionKey" value="wmsEoAddLayerMenuPage.description" />
    	<property name="componentClass" value="org.geoserver.wms.eo.web.WmsEoAddLayerPage" />
    	<property name="category" ref="wmsEoWebMenuCategory" />
    	<property name="icon" value="../../../web/img/icons/silk/layers.png" />
    	<property name="order" value="20" />
    	<property name="authorizer" ref="workspaceAdminAuthorizer"/>
  	</bean>

  	<bean id="wmsEoDeleteGroupMenuPage" class="org.geoserver.web.MenuPageInfo">
    	<property name="id" value="wmsEoDeleteGroupMenuPage" />
    	<property name="titleKey" value="wmsEoDeleteGroupMenuPage.title" />
    	<property name="descriptionKey" value="wmsEoDeleteGroupMenuPage.description" />
    	<property name="componentClass" value="org.geoserver.wms.eo.web.WmsEoDeleteGroupPage" />
    	<property name="category" ref="wmsEoWebMenuCategory" />
    	<property name="icon" value="../../../web/img/icons/silk/layers.png" />
    	<property name="order" value="30" />
    	<property name="authorizer" ref="workspaceAdminAuthorizer"/>
  	</bean>

</beans>