* {
   fill: [
    recode(mapcolor9,
      1,'#8dd3c7', 2,'#ffffb3', 3,'#bebada',
      4,'#fb8072', 5,'#80b1d3', 6,'#fdb462',
      7,'#b3de69', 8,'#fccde5', 9,'#d9d9d9')
   ], symbol('shape://slash');

   fill-size: ,[
      Categorize(datarank,
       6, 4,
       8, 6,
      10, 10,
      12)
   ];
   stroke: black;
}
:fill {
   stroke: black;
}