<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="resourceLoader" class="org.geoserver.platform.GeoServerResourceLoader">
    <constructor-arg>
          <bean id="file" class="java.io.File">
             <constructor-arg value="target"/>
          </bean>
        </constructor-arg>
  </bean>
  
  <bean id="dataDirectory" class="org.geoserver.config.GeoServerDataDirectory">
    <constructor-arg ref="resourceLoader"/>
  </bean>
  
  <bean id="catalog" class="org.geoserver.catalog.impl.CatalogImpl">
    <property name="facade" ref="hibCatalogFacade"/>
  </bean>
  
  <bean id="geoServer" class="org.geoserver.config.impl.GeoServerImpl">
    <property name="facade" ref="hibGeoServerFacade"/>
  </bean>
  
</beans>