<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
         <bean id="helloPage" class="org.geoserver.web.MenuPageInfo">
           <property name="id" value="helloPage"/>
           <property name="titleKey" value="HelloPage.page.title"/>
           <property name="descriptionKey" value="HelloPage.page.description"/>
           <property name="componentClass" value="org.geoserver.helloweb.HelloPage"/>
         </bean>
     </beans>