# Validation Report

Generated: 2026-03-02 18:59:05

## Summary
- Total Files: 0
- Successful: 0
- Failed: 0
- Overall Status: failed

## Broken Links (128)
- community\elasticsearch\index.html:28963 - #faq (broken_anchor)
- community\geopkg\index.html:28232 - #geopkgoutput (broken_anchor)
- community\jdbcstore\configuration\index.html:28337 - #../../data/app-schema/index.md (broken_anchor)
- community\opensearch-eo\upgrading\index.html:28335 - #oseo_html_templates (broken_anchor)
- community\opensearch-eo\upgrading\index.html:28340 - #oseo_metadata_templates (broken_anchor)
- community\taskmanager\developer\index.html:28489 - #parameter-type (broken_anchor)
- data\app-schema\app-schema-resolution\index.html:28335 - #cache (broken_anchor)
- data\app-schema\app-schema-resolution\index.html:28343 - #cache (broken_anchor)
- data\webadmin\workspaces\index.html:28504 - #application_properties (broken_anchor)
- datadirectory\setting\index.html:28480 - ##SUBST##|data_directory_win| (broken_anchor)
- datadirectory\setting\index.html:28502 - ##SUBST##|data_directory_linux| (broken_anchor)
- datadirectory\setting\index.html:28518 - ##SUBST##|data_directory_mac| (broken_anchor)
- datadirectory\structure\index.html:28478 - #../rest/index.md (broken_anchor)
- extensions\gwc-s3\index.html:28192 - #gwc_webadmin (broken_anchor)
- extensions\geofence-server\installing\index.html:28483 - #Configure the plugin (broken_anchor)
- extensions\wps-download\mapAnimationDownload\index.html:28476 - #wms_dynamic_decorations (broken_anchor)
- extensions\wps-download\mapAnimationDownload\index.html:28505 - #wms_dynamic_decorations (broken_anchor)
- security\usergrouprole\usergroupservices\index.html:28282 - #authkey (broken_anchor)
- services\csw\directdownload\index.html:28314 - #csw_iso (broken_anchor)
- services\wcs\reference\index.html:28375 - #getcapabilities (broken_anchor)

## Missing Images (2071)
- data/webadmin/img/workspace_services.png
- data/webadmin/img/workspace_wms_settings.png
- data/webadmin/img/service_layer.png
- configuration/img/server_status.png
- configuration/img/thread_dump.png
- data/webadmin/img/data_workspaces.png
- img/feature-style.*
- img/feature-style-order.*
- img/draw-order-buffer1.*
- img/draw-order-buffer2.*
- img/draw-order-map.*
- img/composite-source.*
- img/composite-destination.*
- img/composite-source-over.*
- img/composite-destination-over.*
- img/composite-source-in.*
- img/composite-destination-in.*
- img/composite-source-out.*
- img/composite-destination-out.*
- img/composite-source-atop.*