name: Mac OS CI

on: [pull_request]

jobs:
  build:

    runs-on: [macos-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file src/pom.xml
