/*
 ----------------------------------------------------------


This is the panel-specific .css file for the panel defined in class EnvelopePanel

The panel's html will be contained in a <div class='gs-panel-EnvelopePanel'>

Your css selectors should look like this to avoid modifying styles outside the panel:

.gs-panel-EnvelopePanel ...specific css selector... {
      ... styling ...
}


 ----------------------------------------------------------
*/

.gs-panel-EnvelopePanel .dataentry {
    display: grid;
    grid-template-columns: 50px 110px;
    row-gap: 5px;
    align-items: center;
    margin-top: 10px;

    border: var(--gs-border-width) var(--gs-border-style) var(--gs-border-color);;
    width: fit-content;
    padding: 7px 10px 7px 10px;;
}

.gs-panel-EnvelopePanel .diagram {
    width: fit-content;
    padding: 7px 10px 0px 10px;
    border: var(--gs-border-width) var(--gs-border-style) var(--gs-border-color);
    margin-top: 10px;
    margin-left: 10px;
}
.gs-panel-EnvelopePanel .diagram .gs-list-item-class div {
    border: var(--gs-border-width) var(--gs-border-style) var(--gs-border-color);
    padding: 5px;
    min-width:70px;
}

.gs-panel-EnvelopePanel .diagram .moveup {
    margin-top: -10px;
}


.gs-panel-EnvelopePanel .data {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
}



.gs-panel-EnvelopePanel .xy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 300px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.gs-panel-EnvelopePanel .xy .gs-list-item-class {
    display:flex;
    flex-direction: column-reverse;
}

.gs-panel-EnvelopePanel .xy .gs-list-item-class label {
    margin-right: auto;
    margin-left: auto;
}

.gs-panel-EnvelopePanel .z {
    padding-top: 0.5rem;
    display: flex;
    gap: 40px;
    max-width: 300px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.gs-panel-EnvelopePanel .z .gs-list-item-class {
    display:flex;
    flex-direction: column-reverse;
}

.gs-panel-EnvelopePanel .z .gs-list-item-class label {
    margin-right: auto;
    margin-left: auto;
}

