/*
 ----------------------------------------------------------


This is the panel-specific .css file for the panel defined in class UpDownPanel

The panel's html will be contained in a <div class='gs-panel-UpDownPanel'>

Your css selectors should look like this to avoid modifying styles outside the panel:

.gs-panel-UpDownPanel ...specific css selector... {
      ... styling ...
}


 ----------------------------------------------------------
*/
.gs-panel-UpDownPanel {
      display: flex;
      flex-direction: column;
}
.gs-panel-UpDownPanel i {
      width: 1rem;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
}
